<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>
<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>
<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>

<style>
.btns {
	float: right;
	margin: 5px;
}

.col-sm-5 {
	padding-bottom: 15px;
}

.list-body {
	padding: 0px;
}

.error {
	color: red;
	padding-left: 10px;
}

.formline {
	padding-bottom: 15px;
}

#finusertb {
	width: 460px;
}

body {
	background-image: url("images/bodyBG.jpg");
	background-size: cover;
}

.card-container.card {
	max-width: 350px;
	padding: 40px 40px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding: 0px;
}

.fa-eye {
	position: absolute;
	top: 28%;
	right: 10%;
	cursor: pointer;
	color: lightgray;
}

.card {
	background-color: #F7F7F7;
	/* just in case there no content*/
	margin: 0 auto 25px;
	margin-top: 180px;
	/* shadows and rounded borders */
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
</style>

<script th:inline="javascript">
	/*<![CDATA[*/

	$(function() {

		var finusers = /*[[${FinUserProfiles}]]*/null;

		console.log(finusers);

		$("#usertable,#finusertb").DataTable({
			"info" : false,
			"lengthChange" : false

		});

		$("#expiryDate,#disableDate,#disableTilDate,#passExDate,#effectiveTill")
				.datepicker({
					minDate : new Date(),
					changeMonth : true,
					changeYear : true,
					dateFormat : "dd-mm-yy"
				});

	});

	function getUserlist(mode, num, maxpage) {

		var n = parseInt(num);
		var max = parseInt(maxpage);
		var Callurl = 'UserProfile?formmode=list';

		switch (mode) {
		case "nextpage":
			n = n + 1;
			if (n > max) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "prevpage":
			n = n - 1;
			if (n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
			break;
		case "givenpage":
			n = parseInt($("#pageno").val()) - 1;
			if (n > max || n < 0) {
				break;
			}
			Callurl = Callurl + "&page=" + n;
		}

		location.href = Callurl;
	}

	function finuser(a) {

		$
				.ajax({
					type : 'get',
					url : './Finuserdata?userid=' + a.id,

					success : function(data) {

						/*<![CDATA[*/

						$('.finuserapply').html(data);

						$(
								"#expiryDate,#disableDate,#disableTilDate,#passExDate,#effectiveTill")
								.datepicker({
									changeMonth : true,
									changeYear : true,
									dateFormat : "dd-mm-yy"
								});

						/*]]>*/

						$("#finusers").modal("hide");
					}

				})

	}

	function home() {
		location.href = 'Dashboard'
	}

	function fnpassword() {
		var passwd = document.getElementById("newpass").value;
		if (passwd != "") {
			if (passwd.length <= 7) {
				document.getElementById('upass1').innerHTML = "Password must contain at least Eight characters!";
				document.getElementById('upass1').style.display = 'block';
				eye1.style = "margin-top:-10px;";
				eye2.style = "margin-top:-10px;";
				$("#newpass").focus();
				return false;
			} else {
				document.getElementById('upass1').style.display = 'none';
				eye1.style = ''
			}
			re = /[0-9]/;
			if (!re.test(passwd)) {
				document.getElementById('upass1').innerHTML = "password must contain at least one number (0-9)!";
				document.getElementById('upass1').style.display = 'block';
				eye1.style = "margin-top:-10px;";
				eye2.style = "margin-top:-10px;";
				$("#newpass").focus();
				return false;
			} else {
				document.getElementById('upass1').style.display = 'none';
				eye1.style = ''
			}
			re = /[A-Z]/;
			if (!re.test(passwd)) {
				document.getElementById('upass1').innerHTML = "password must contain at least one uppercase letter (A-Z)!";
				document.getElementById('upass1').style.display = 'block';
				eye1.style = "margin-top:-10px;";
				eye2.style = "margin-top:-10px;";
				$("#newpass").focus();
				return false;
			} else {
				document.getElementById('upass1').style.display = 'none';
				eye1.style = ''
			}
			re = /[!@#$%^&*]/;
			if (!re.test(passwd)) {
				document.getElementById('upass1').innerHTML = "password must contain at least one special characters !";
				document.getElementById('upass1').style.display = 'block';
				eye1.style = "margin-top:-10px;";
				eye2.style = "margin-top:-10px;";
				$("#newpass").focus();
				return false;
			}
		} else {
			document.getElementById('upass1').style.display = 'none';
			eye1.style = ''

		}
	}

	function fnconpassword() {

		var conpasswd = document.getElementById("confirmPassword").value;
		var passwd = document.getElementById("newpass").value;
		if (conpasswd != '') {
			if (conpasswd != passwd) {
				document.getElementById('uconpas1').innerHTML = "Password do not match. !";
				document.getElementById('uconpas1').style.display = 'block';
				eye2.style = "margin-top:-5px;";
				$("#confirmPassword").val() = '';
				$("#confirmPassword").focus();
				return false;
			} else {
				document.getElementById('uconpas1').style.display = 'none';
				eye2.style = ''
			}
		}
	}
	function shp() {
		const togglePassword = document.querySelector('#eye');
		const oldpassword = document.querySelector('#oldpass');

		togglePassword
				.addEventListener(
						'click',
						function(e) {
							// toggle the type attribute
							this.classList.toggle('fa-eye-slash');
							const type = oldpassword.getAttribute('type') === 'password' ? 'text'
									: 'password';
							oldpassword.setAttribute('type', type);
							// toggle the eye slash icon

						});
	}
	function shpn() {
		const togglePassword = document.querySelector('#eye1');
		const newpassword = document.querySelector('#newpass');

		togglePassword
				.addEventListener(
						'click',
						function(e) {
							// toggle the type attribute
							const type = newpassword.getAttribute('type') === 'password' ? 'text'
									: 'password';
							newpassword.setAttribute('type', type);
							// toggle the eye slash icon
							this.classList.toggle('fa-eye-slash');
						});
	}
	function shpc() {
		const togglePassword = document.querySelector('#eye2');
		const confirmpassword = document.querySelector('#confirmPassword');

		togglePassword
				.addEventListener(
						'click',
						function(e) {
							// toggle the type attribute
							const type = confirmpassword.getAttribute('type') === 'password' ? 'text'
									: 'password';
							confirmpassword.setAttribute('type', type);
							// toggle the eye slash icon
							this.classList.toggle('fa-eye-slash');
						});
	}
</script>
<script>
	function submitdata() {
		var domainids = [];
		$.each($("input[name='dom']:checked"), function() {
			domainids.push($(this).val());
		});
		$("#getDomain").modal('hide');
		$("#domainId").val(domainids.join(","));
	}
	/* ============Change Password============ */

	function submitPassword() {
		console.log("hi")
		if ($("#passform").valid()) {
			var oldpass = $("#oldpass").val();
			console.log(oldpass)
			var newpass = $("#newpass").val();
			console.log(newpass)
			var userid = document.getElementById('userId').value;
			console.log(userid)

			$.ajax({
				type : "post",
				cache : false,
				url : './changePasswordloginscrren',
				data : {
					userid : userid,
					oldpass : oldpass,
					newpass : newpass
				}, // multiple data sent using ajax
				success : function(data) {
					console.log(data);
					$("#menualertmsg").text(data);
				}
			});
		}
	};
</script>
</head>
<title>IPSADMIN</title>
<body>

	<!---------------------User List Ends--------------------------------------------------------->
	<!---------------------User Edit form Starts-------------------------------------------------->
	<div class="container content">
		<div class="row">
			<div class="col-sm-12 finuserapply">
				<form action="#" th:object="${passform}" method="post"
					autocomplete="off" id="passform" th:fragment="finuserapply">
					<div class="card">
						<div class="card-header" style="background-color: #BBC3CB;">
							<h3>IPSMerchant Change Password</h3>
						</div>
						<div class="card-body">
							<input autocomplete="off" name="hidden" type="text"
								style="display: none;">
							<div class="form-group">
								<div class="row formline">
									<div class="col-sm-2">
										<label for="userId">User Id</label>
									</div>

									<div class="col-sm-3">
										<input type="text" id="userId"
											class="form-control form-control-sm" autocomplete="off"
											required />
									</div>

									<div class="col-sm-1"></div>
									<div class="col-sm-2">
										<label for="oldPassword">Old Password</label>
									</div>

									<div class="col-sm-3">
										<input type="password" id="oldpass"
											class="form-control form-control-sm" autocomplete="off"
											required /> <i class="fa-eye" onclick="shp(this)" id="eye"></i>
									</div>
								</div>

								<div class="row formline">
									<label class="col-sm-2" for="newPassword">New Password
									</label>

									<div class="col-sm-3">
										<input type="password" id="newpass" onblur="fnpassword()"
											class="form-control form-control-sm"
											title="password must contain at least Eight characters! &#13one number (0-9)!&#13one uppercase letter (A-Z)!&#13one special characters (!@#$%^&*)!"
											autocomplete="off" required /><i class="fa-eye"
											onclick="shpn(this)" id="eye1"></i><font size="2"><span
											style="color: red;" id="upass1"></span></font>
									</div>

									<div class="col-sm-1"></div>
									<label class="col-sm-2" for="confirmPassword">Confirm
										Password</label>

									<div class="col-sm-3">
										<input type="password" id="confirmPassword"
											onblur='fnconpassword();'
											class="form-control form-control-sm" autocomplete="off" /> <font
											size="2"><span style="color: red;" id="uconpas1"></span></font><i
											class="fa-eye" onclick="shpc(this)" id="eye2"></i>
									</div>

									<div class="col-sm-1"></div>
								</div>
							</div>
						</div>
						<div class="card-footer text-center"
							style="background-color: #BBC3CB;">
							<button type="button" class="btn btn-primary" id="btnHome"
								onclick="home()">Home</button>

							<button type="button" class="btn btn-primary" id="btnSubmit"
								form="passform" onclick="submitPassword(this)">Submit</button>

							<button type="button" class="btn btn-primary" id="btnBack"
								onclick="back()">Back</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="modal fade" id="menualert">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-body" style="text-align: center">
					<p id="menualertmsg"></p>
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						onclick="back();">Close</button>
				</div>
			</div>
		</div>
	</div>

</body>

</html>