<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<script src="/webjars/jquery/3.4.1/jquery.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js" th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js" th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>
<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js" th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>
<script src="js/bootstrap411.js"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">

<style>
.formline {
	padding-bottom: 15px;
}

.fa-eye {
	position: absolute;
	top: 28%;
	right: 10%;
	cursor: pointer;
	color: lightgray;
}

.card {
	width: 80%;
	background-color: #F7F7F7;
	margin: 0 auto 25px;
	margin-top: 30px;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	background-color: #F7F7F7;
}

#hideenshowsecond, #hiddenfirst {
	display: none;
}
</style>


<script th:inline="javascript">
	/*<![CDATA[*/

	/* SUBMIT SECURITY QUESTION */

	function validate2faAnswer() {
		if ($("#validate2faAnswer")[0].checkValidity()) {
			var userid = document.getElementById('user_id1').value;
			var selectedQuestionText = document.getElementById('selected_question_text').value;
			var securityAnswer = document.getElementById('security_answer').value;
			var security_question = document.getElementById('security_question').value;
			var formData = $("#uploadForm1").serialize();
			$.ajax({
				url : './submitfirstauth',
				data : 'userid=' + userid + '&security_question=' + security_question + '&security_answer=' + securityAnswer,
				type : 'POST',
				success : function(response) {
					if (response == "success") {
						$("#loader1").modal("toggle");
						$.ajax({
							type : "POST",
							url : "./sendingsms_otp",
							data : {
								user_id : userid
							},
							success : function(response) {
								console.log("Response : " + response);
								const jsonResponse = response;
								const otp = extractOtp(jsonResponse);
								console.log("Extracted OTP: " + otp);
								if (otp != null) {
									$("#loader1").modal("hide");
									document.getElementById("ourOtp").value = otp;
									$("#firstauthclass").css("display", "none");
									document.getElementById("userId").value = userid;
									$("#hideaftersuccess").css("display", "block");
								} else {
									$("#loader1").modal("hide");
									$('#myModalpopup1').modal('show');
									$("#myModalpopup1 .modal-body").text("Authentication Failed - Incorrect Answer");
								}
							},
							error : function(xhr, status, error) {
								alert("Error occurred while sending OTP via SMS: " + error);
							}
						});
						/* $("#firstauthclass").css("display", "none");
						console.log("Attempting to show hiddenfirst");
						$("#hiddenfirstsms").css("display", "block");
						console.log("success"); */
					} else if (response == "User not found") {
						alert("User not found.");
					}
				},
				error : function(xhr, status, error) {
					console.error("Error:", error);
					alert("Failed to submit form. Please try again.");
				}
			});

		} else {
			$("#validate2faAnswer")[0].reportValidity();
		}
	}
	
	function extractOtp(responseString) {
	    try {
	        const responseObj = responseString
	            .replace(/[{}]/g, "")
	            .split(", ")
	            .reduce((acc, item) => {
	                const [key, value] = item.split("=");
	                acc[key.trim()] = value ? value.trim() : null;
	                return acc;
	            }, {});
	        const otp = responseObj.OTP || null;
	        return otp;
	    } catch (error) {
	        console.error("Error parsing response or extracting OTP:", error);
	        return null;
	    }
	}
	
	function verifyOtp() {
		if ($('#otpVerification')[0].checkValidity()) {
			var ourOtp = document.getElementById("ourOtp").value;
			var recieverOtp = document.getElementById("otp").value;
			if (ourOtp === recieverOtp) {
				$("#hideaftersuccess").css("display", "none")
				$("#hideenshowsecond").css("display", "block");
			} else {
				$('#myModalpopup1').modal("toggle");
				$('#myModalpopup1 .modal-body').text("Entered OTP does not match the current OTP");
			}
		} else {
			$("#otpVerification")[0].reportValidity();
		}
	}
	
	function submitPassword(a) {
		if ($("#changepasswordForm")[0].checkValidity()) {
			var newpass = $("#newpass").val();
			var userid = $("#userId").val();
			var confirmPassword = $("#confirmPassword").val();
			if (newpass === "" || confirmPassword === "") {
				$('#myModalpopup1').modal("toggle");
				$('#myModalpopup1 .modal-body').text("Password fields cannot be empty.");
				return;
			}
			if (newpass !== confirmPassword) {
				$('#myModalpopup1').modal("toggle");
				$('#myModalpopup1 .modal-body').text("New Password and Confirm Password do not match.");
				return;
			}
			$.ajax({
				type : "POST",
				url : './changePasswordotp',
				data : {
					userid : userid,
					newpass : newpass
				},
				success : function(data) {
					if(data == "Password Changed Successfully"){
						$('#myModalpopup2').modal("toggle");
						$('#myModalpopup2 .modal-body').text(data);
					} else {
						$('#myModalpopup1').modal("toggle");
						$('#myModalpopup1 .modal-body').text(data);
					}
				},
				error : function(xhr, status, error) {
					$('#myModalpopup1').modal("toggle");
					$('#myModalpopup1 .modal-body').text("Error occurred while changing password.");
				}
			});
		} else {
			$("#changepasswordForm")[0].reportValidity();
		}
	}

	function home() {
		location.href = './IPSDashboard'
	}
	
	function back() {
		window.history.back();
	}

	function toggleContactMethod() {
		var contactMethod = document.getElementById('contactMethod').value;
		var emailField = document.getElementById('Emailid');
		var smsField = document.getElementById('sms');
		var emailAsterisk = document.getElementById('emailAsterisk');
		var smsAsterisk = document.getElementById('smsAsterisk');

		if (contactMethod === 'email') {
			emailField.readOnly = false;
			smsField.readOnly = true;
			smsField.value = '';
			emailAsterisk.style.display = 'inline';
			smsAsterisk.style.display = 'none';
		} else if (contactMethod === 'sms') {
			smsField.readOnly = false;
			emailField.readOnly = true;
			emailField.value = '';
			smsAsterisk.style.display = 'inline';
			emailAsterisk.style.display = 'none';
		} else {
			emailField.readOnly = true;
			smsField.readOnly = true;
			emailAsterisk.style.display = 'none';
			smsAsterisk.style.display = 'none';
		}
	}

	function togglePasswordVisibility() {
		var passwordField = document.getElementById('otpconfirmation');
		var eyeIcon = document.getElementById('eye2');

		if (passwordField.type === 'password') {
			passwordField.type = 'text';
			eyeIcon.classList.remove('fa-eye');
			eyeIcon.classList.add('fa-eye-slash');
		} else {
			passwordField.type = 'password';
			eyeIcon.classList.remove('fa-eye-slash');
			eyeIcon.classList.add('fa-eye');
		}
	}
	
	function togglePasswordVisibility1() {
		var passwordField = document.getElementById('newpass');
		var eyeIcon = document.getElementById('eye2');

		if (passwordField.type === 'password') {
			passwordField.type = 'text';
			eyeIcon.classList.remove('fa-eye');
			eyeIcon.classList.add('fa-eye-slash');
		} else {
			passwordField.type = 'password';
			eyeIcon.classList.remove('fa-eye-slash');
			eyeIcon.classList.add('fa-eye');
		}
	}
	
	function togglePasswordVisibility2() {
		var passwordField = document.getElementById('confirmPassword');
		var eyeIcon = document.getElementById('eye2');

		if (passwordField.type === 'password') {
			passwordField.type = 'text';
			eyeIcon.classList.remove('fa-eye');
			eyeIcon.classList.add('fa-eye-slash');
		} else {
			passwordField.type = 'password';
			eyeIcon.classList.remove('fa-eye-slash');
			eyeIcon.classList.add('fa-eye');
		}
	}
	
	function togglePasswordVisibility5() {
		var passwordField = document.getElementById('otpconfirmationsms');
		var eyeIcon = document.getElementById('eye5');

		if (passwordField.type === 'password') {
			passwordField.type = 'text';
			eyeIcon.classList.remove('fa-eye');
			eyeIcon.classList.add('fa-eye-slash');
		} else {
			passwordField.type = 'password';
			eyeIcon.classList.remove('fa-eye-slash');
			eyeIcon.classList.add('fa-eye');
		}
	}
</script>
</head>
<title>IPSAdmin</title>
<body style="background: #000000b0;">

	<!-- Security Question -->

	<div class="container content myModalpopup" id="firstauthclass" style="display: block;">
		<div class="card">
			<div class="card-header p-1" style="background-color: #f26223;">
				<h4 class="text-white pl-2 pt-1" style="font-size: 1.3rem; font-weight: bold;">Two Factor Authentication</h4>
			</div>
			<div class="card-body pb-0">
				<form id="validate2faAnswer" method="post" autocomplete="off">
					<div class="form-group row">
						<label for="user_id" class="col-sm-4 col-form-label">User ID <span style="color: red; font-size: 20px;">*</span>
						</label>
						<div class="col-sm-8">
							<input type="text" name="user_id" id="user_id1" class="form-control form-control-sm" autocomplete="off" onkeyup="this.value = this.value.toUpperCase();" required />
						</div>
					</div>
					<div class="form-group row">
						<label for="security_question" class="col-sm-4 col-form-label">Select Security Question <span style="color: red; font-size: 20px;">*</span>
						</label>
						<div class="col-sm-8">
							<select class="form-control" id="security_question" required>
								<option value="" disabled selected>Select a question</option>
								<option value="1">WHAT IS YOUR MOTHER'S NAME?</option>
								<option value="2">WHAT WAS THE NAME OF YOUR FIRST PET?</option>
								<option value="3">WHAT IS YOUR FAVORITE BOOK?</option>
								<option value="4">WHAT IS YOUR FAVORITE FOOD?</option>
								<option value="5">WHAT CITY WERE YOU BORN IN?</option>
								<option value="6">WHAT IS YOUR FAVORITE COLOR?</option>
								<option value="7">WHAT WAS YOUR FIRST CAR?</option>
								<option value="8">WHAT WAS THE NAME OF YOUR ELEMENTARY SCHOOL?</option>
								<option value="9">WHAT IS YOUR FAVORITE MOVIE?</option>
								<option value="10">WHAT IS YOUR FATHER'S MIDDLE NAME?</option>
							</select> <input type="hidden" id="selected_question_text" autocomplete="off" name="selected_question_text">
						</div>
					</div>
					<div class="form-group row answer-input" id="answer_input_1">
						<label class="col-sm-4 col-form-label">Answer <span style="color: red; font-size: 20px;">*</span></label>
						<div class="col-sm-8">
							<input type="text" name="security_answer" id="security_answer" autocomplete="off" onkeyup="this.value = this.value.toUpperCase();" class="form-control form-control-sm" required />
						</div>
					</div>
					<div class="form-group text-center">
						<button type="button" class="btn text-white" form="validate2faAnswer" style="background-color: #022952;" onclick="validate2faAnswer();">Submit</button>
						<button type="button" class="btn text-white" id="" onclick="back()" style="background-color: #022952; height: fit-content;">Back</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- OTP Screen -->

	<div class="container content" id="hideaftersuccess" style="display: none;">
		<div class="row">
			<div class="col-sm-12 finuserapply">
				<form action="#" th:object="${passform}" method="post" autocomplete="off" id="otpVerification" th:fragment="finuserapply">
					<div class="card">
						<div class="card-header p-1" style="background-color: #f26223;">
							<h4 class="text-white pl-2 pt-1" style="font-size: 1.3rem; font-weight: bold;">Two Factor Authentication</h4>
						</div>
						<div class="card-body">
							<input autocomplete="off" name="hidden" type="text" style="display: none;">
							<div class="form-group">
								<input id="ourOtp" type="text" hidden="true" />
								<div class="row formline mt-3">
									<label class="col-sm-3" for="otp">Please Enter the OTP<span id="emailAsterisk" style="color: red; font-size: 20px;">*</span></label>
									<div class="col-sm-3">
										<input type="text" id="otp" style="height: 38px" class="form-control form-control-sm" autocomplete="off" required />
									</div>
									<button type="button" class="btn mr-2 text-white" form="otpVerification" id="btnHome" onclick="verifyOtp(this)" style="background-color: #022952; height: fit-content;">Submit</button>
									<button type="button" class="btn text-white" id="" onclick="back()" style="background-color: #022952; height: fit-content;">Back</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Change password screen -->

	<div class="container content" id="hideenshowsecond">
		<div class="row">
			<div class="col-sm-12 finuserapply">
				<form action="#" method="post" autocomplete="off" id="changepasswordForm" novalidate>
					<div class="card">
						<div class="card-header p-1" style="background-color: #f26223;">
							<h4 class="text-white pl-2 pt-1" style="font-size: 1.3rem; font-weight: bold;">Change Password</h4>
						</div>
						<div class="card-body pb-0">
							<input type="hidden" name="hidden" style="display: none;">
							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-6">
									<div class="form-group mb-0">
										<div class="row formline">
											<div class="col-sm-5 pl-0">
												<label for="userId">User ID <span style="color: red; font-size: 20px;">*</span></label>
											</div>
											<div class="col-sm-7">
												<input type="text" id="userId" class="form-control form-control-sm" autocomplete="off" required onkeyup="this.value = this.value.toUpperCase();" />
											</div>
										</div>
										<div class="row formline">
											<label class="col-sm-5 pl-0" for="newpass"> New Password <span style="color: red; font-size: 20px;">*</span>
											</label>
											<div class="col-sm-7">
												<input type="password" id="newpass" class="form-control form-control-sm"
													title="Password must contain at least 8 characters, one number (0-9), one uppercase letter (A-Z), and one special character (!@#$%^&*)." required
												/> <i class="fa fa-eye" onclick="togglePasswordVisibility1()" id="eye2"></i>
											</div>
										</div>
										<div class="row formline pb-0">
											<label class="col-sm-5 pl-0" for="confirmPassword"> Confirm Password <span style="color: red; font-size: 20px;">*</span>
											</label>
											<div class="col-sm-7">
												<input type="password" id="confirmPassword" class="form-control form-control-sm" required /> <i class="fa fa-eye" onclick="togglePasswordVisibility2()" id="eye2"></i>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3"></div>
							</div>
						</div>
						<div class="card-footer text-center" style="background-color: white; border: unset;">
							<button type="button" class="btn btn-primary" style="background-color: #022952;" onclick="home()">Home</button>
							<button type="button" class="btn btn-primary" style="background-color: #022952;" onclick="submitPassword(this)">Submit</button>
							<button type="button" class="btn btn-primary" style="background-color: #022952;" onclick="back()">Back</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<!-- Model Box -->

	<div class="modal fade" id="myModalpopup1" data-backdrop="static" data-keyboard="false" style="background: #000000b0;">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<h6 class="text-center p-2 text-white font-weight-bold" style="background: #f26223;">BANK OF BARODA </h6>
				<h6 class="modal-body text-center font-weight-bold" style="color: black !important; font-size: 19px"></h6>
				<div class="text-center">
					<button type="button" class="btn mb-2 text-white" style="width: 16%; background: #f26223; font-size: 17px;" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModalpopup2" data-backdrop="static" data-keyboard="false" style="background: #000000b0;">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<h6 class="text-center p-2 text-white font-weight-bold" style="background: #f26223;">BANK OF BARODA </h6>
				<h6 class="modal-body text-center font-weight-bold" style="color: black !important; font-size: 19px"></h6>
				<div class="text-center">
					<button type="button" class="btn mb-2 text-white" style="width: 16%; background: #f26223; font-size: 17px;" data-dismiss="modal" onclick="back()">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="loader1" data-backdrop="static" data-keyboard="false">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content" style="background: transparent; border: unset;">
				<div class="modal-body" style="text-align: center">
					<div>
						<img th:src=@{/images/loader.gif} id="bfirelogo" style="width: 153px; margin-left: 18px;" alt="Bornfire">
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>