<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css" th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css" href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css" th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js" th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js" th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js" th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js" th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js" th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>
<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js" th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>
<script src="js/bootstrap411.js"></script>
</head>

<style>
td {
	background-color: #f8f7ff;
}

.container-manager {
	padding-right: 43px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: 18.3%;
	margin-top: 80px;
}

#usertable_wrapper .dataTables_filter input[type="search"] {
	margin-top: 10px;
	overflow-x: auto;
}

.dataTables_scrollBody {
	overflow: unset !important;
}

.dataTables_filter input {
	width: 200px;
	margin-right: 10px;
	margin-top: 10px;
	display: block;
}

.dataTables_wrapper .dataTables_filter input[type="search"]::placeholder {
	color: black;
	font-style: italic;
}

.dropdown-toggle {
	line-height: 1rem;
}

#usertable_wrapper .dataTables_filter input[type="search"] {
	margin-top: 10px;
	margin-left: -10px;
}

.dataTables_wrapper .dataTables_filter {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}

.dataTables_filter input {
	color: black;
	background-color: white;
}

.dataTables_wrapper .dataTables_filter input[type="search"]::placeholder {
	color: black;
	font-style: italic;
}

input, select {
	height: 35px !important;
}

label {
	font-size: 18px !important;
}

.actionBtn .dropdown-menu {
	min-width: 5rem !important;
}
</style>
</head>

<script th:inline="javascript">
	/*<![CDATA[*/

	$(document).ready(function() {
		$(window).keydown(function(event) {
			if (event.keyCode == 13) {
				event.preventDefault();
				return false;
			}
		});
	});

	// ADD ROLE

	function submitform(a) {
		var role_id = $("#role_id1").val();
		var formmode = a.getAttribute("data-formmode");
		if ($("#IPSAccessRole").valid()) {
			if (role_id != '') {
				var checkBoxAdminValue, adminValue, userprofileMaintenance, userprofilevalue, accessandRole, accessValue, ipsparameter, ipsparavalue, servicechargesFees, servchargeValue, walletfeesCharges, walletfeesValue, merchantcategCode, merchantcategValue, notificationparam, notificationValue, cbAudit, auditValue, useractivityAudits, useractivityValue, serviceAuditsValue, serviceaudValue, chargeBack, chargebackValue, transactionMonitoring, transactionMonitoringValue, merchantMaster, merchantValue, reference, referenceVlue, settlementAccount, settlementAccountValue, bankBranchDetail, bankBranchDetailValue, reports, reportsValue;
				var finalVar = [];
				checkBoxAdminValue = document.querySelector("#Admin:checked");
				adminValue = (checkBoxAdminValue) ? 'Y' : 'N';
				if (adminValue === "Y") {
					finalVar.push("Admin");
				}

				userprofileMaintenance = document.querySelector("#UserProfileMaintenance:checked");
				userprofilevalue = (userprofileMaintenance) ? 'Y' : 'N';
				if (userprofilevalue === "Y") {
					finalVar.push("UserProfileMaintenance");
				}

				accessandRole = document.querySelector("#AccessRole:checked");
				accessValue = (accessandRole) ? 'Y' : 'N';
				if (accessValue === "Y") {
					finalVar.push("AccessRole");
				}

				reference = document.querySelector("#ReferenceCode:checked");
				referenceValue = (reference) ? 'Y' : 'N';
				if (referenceValue === "Y") {
					finalVar.push("ReferenceCode");
				}

				bankBranchDetail = document.querySelector("#bankBranchDetail:checked");
				bankBranchDetailValue = (bankBranchDetail) ? 'Y' : 'N';
				if (bankBranchDetailValue === "Y") {
					finalVar.push("BankBranchMaster");
				}

				ipsparameter = document.querySelector("#MerchantParameter:checked");
				ipsparavalue = (ipsparameter) ? 'Y' : 'N';
				if (ipsparavalue === "Y") {
					finalVar.push("MerchantParameter");
				}

				servicechargesFees = document.querySelector("#ServiceChargesFees:checked");
				servchargeValue = (servicechargesFees) ? 'Y' : 'N';
				if (servchargeValue === "Y") {
					finalVar.push("ServiceChargesFees");
				}

				walletfeesCharges = document.querySelector("#MerchantFeesCharges:checked");
				walletfeesValue = (walletfeesCharges) ? 'Y' : 'N';
				if (walletfeesValue === "Y") {
					finalVar.push("MerchantFeesCharges");
				}

				merchantcategCode = document.querySelector("#MerchantCategoryCode:checked");
				merchantcategValue = (merchantcategCode) ? 'Y' : 'N';
				if (merchantcategValue === "Y") {
					finalVar.push("MerchantCategoryCode");
				}

				notificationparam = document.querySelector("#NotificationParameter:checked");
				notificationValue = (notificationparam) ? 'Y' : 'N';
				if (notificationValue === "Y") {
					finalVar.push("NotificationParameter");
				}

				cbAudit = document.querySelector("#AuditOperations:checked");
				auditValue = (cbAudit) ? 'Y' : 'N';
				if (auditValue === "Y") {
					finalVar.push("AuditOperations");
				}

				useractivityAudits = document.querySelector("#UserActivityAudits:checked");
				useractivityValue = (useractivityAudits) ? 'Y' : 'N';
				if (useractivityValue === "Y") {
					finalVar.push("UserActivityAudits");
				}

				serviceAuditsValue = document.querySelector("#ServiceAudits:checked");
				serviceaudValue = (serviceAuditsValue) ? 'Y' : 'N';
				if (serviceaudValue === "Y") {
					finalVar.push("ServiceAudits");
				}

				chargeBack = document.querySelector("#ChargeBack:checked");
				chargebackValue = (chargeBack) ? 'Y' : 'N';
				if (chargebackValue === "Y") {
					finalVar.push("ChargeBack");
				}

				transactionMonitoring = document.querySelector("#TransactionMonitoring:checked");
				transactionmonitoringValue = (transactionMonitoring) ? 'Y' : 'N';
				if (transactionmonitoringValue === "Y") {
					finalVar.push("TransactionMonitoring");
				}

				reports = document.querySelector("#Reports:checked");
				reportsValue = (reports) ? 'Y' : 'N';
				if (reportsValue === "Y") {
					finalVar.push("Reports");
				}

				merchantMaster = document.querySelector("#MerchantMaster:checked");
				merchantmastValue = (merchantMaster) ? 'Y' : 'N';
				if (merchantmastValue === "Y") {
					finalVar.push("MerchantMaster");
				}

				settlementAccount = document.querySelector("#settlementAccount:checked");
				settlementAccountValue = (settlementAccount) ? 'Y' : 'N';
				if (settlementAccountValue === "Y") {
					finalVar.push("SettlementAccount");
				}

				var formmode = a.getAttribute("data-formmode");
				var finalString = finalVar.join(',');
				if (finalString == "") {
					$('#myModalpopup1').modal("toggle");
					$('#myModalpopup1 .modal-body').text("Please Select Menu List");
				} else {
					var url = "./createAccessRole?formmode=" + formmode + "&adminValue=" + adminValue + "&userprofilevalue=" + userprofilevalue + "&accessValue=" + accessValue + "&ipsparavalue="
						+ ipsparavalue + "&servchargeValue=" + servchargeValue + "&reportsValue=" + reportsValue + "&walletfeesValue=" + walletfeesValue + "&merchantcategValue=" + merchantcategValue
						+ "&notificationValue=" + notificationValue + "&auditValue=" + auditValue + "&useractivityValue=" + useractivityValue + "&serviceaudValue=" + serviceaudValue
						+ "&chargebackValue=" + chargebackValue + "&referenceValue=" + referenceValue + "&transactionmonitoringValue=" + transactionmonitoringValue + "&merchantmastValue="
						+ merchantmastValue + "&finalString=" + finalString + "&settlementAccountValue=" + settlementAccountValue + "&bankBranchDetailValue=" + bankBranchDetailValue;
					$("#IPSAccessRole").attr('action', url);
					var options = {
						success : showResponse,
						error : errorResponse
					};
					$("#IPSAccessRole").ajaxSubmit(options);
					function showResponse(responseText, statusText, xhr, $form) {
						$('#myModalpopup3').modal("toggle");
						$('#myModalpopup3 .modal-body').text(responseText);
					}
					function errorResponse(xhr, statusText, error) {
						var errorMessage = xhr.responseText || "An error occurred. Please try again.";
						$('#myModalpopup1').modal("toggle");
						$('#myModalpopup1 .modal-body').text(errorMessage);
					}
				}
			} else {
				$('#myModalpopup1').modal("toggle");
				$('#myModalpopup1 .modal-body').text("Please Fill the role id");
			}
		}
	};

	function verifySubmit(a) {
		var entryUser = a.getAttribute("data-entry_user");
		var modifyUser = a.getAttribute("data-modify_user");
		var formMode = a.getAttribute("data-formmode");
		var workClass = a.getAttribute("data-work_class");
		var loginUser = /*[[${session.USERID}]]*/null;
		if (workClass !== "C") {
			$('#myModalpopup1').modal("toggle");
			$('#myModalpopup1 .modal-body').text("Maker cannot verify the record");
		} else {
			var url = "./createAccessRole?formmode=" + formMode;
			$("#IPSAccessRole").attr('action', url);
			var options = {
				success : handleSuccess,
				error : handleError
			};
			$("#IPSAccessRole").ajaxSubmit(options);
			function handleSuccess(responseText, statusText, xhr, $form) {
				$('#myModalpopup3').modal("toggle");
				$('#myModalpopup3 .modal-body').text(responseText);
			}
			function handleError(xhr, status, error) {
				var errorMessage = xhr.responseText || "An error occurred. Please try again.";
				$('#myModalpopup1').modal("toggle");
				$('#myModalpopup1 .modal-body').text(errorMessage);
			}
		}
	}

	// CANCLE SUBMIT

	function cancelSubmit(a) {
		var entryUser = a.getAttribute("data-entry_user");
		var modifyUser = a.getAttribute("data-modify_user");
		var formMode = a.getAttribute("data-formmode");
		var loginUser = /*[[${session.USERID}]]*/null;
		/* if ((modifyUser && modifyUser === loginUser) || (!modifyUser && entryUser === loginUser)) {
			$('#myModalpopup1').modal("toggle");
			$('#myModalpopup1 .modal-body').text("Same user cannot remove the record.");
		} else { */
			var url = "./createAccessRole?formmode=" + formMode;
			$("#IPSAccessRole").attr('action', url);
			var options = {
				success : handleSuccess,
				error : handleError
			};
			$("#IPSAccessRole").ajaxSubmit(options);
			function handleSuccess(responseText, statusText, xhr, $form) {
				$('#myModalpopup3').modal("toggle");
				$('#myModalpopup3 .modal-body').text(responseText);
			}
			function handleError(xhr, status, error) {
				var errorMessage = xhr.responseText || "An error occurred. Please try again.";
				$('#myModalpopup1').modal("toggle");
				$('#myModalpopup1 .modal-body').text(errorMessage);
			}
		/* } */
	}
	
	// DELETE MAIN RECORD
	
	function deleteSubmit(a) {
		var formmode = a.getAttribute("data-formmode");
		var url = "./createAccessRole?formmode=" + formmode;
		$("#IPSAccessRole").attr('action', url);
		var options = {
			success : showResponse,
			error : handleError
		};
		$("#IPSAccessRole").ajaxSubmit(options);
		function showResponse(responseText, statusText, xhr, $form) {
			$('#myModalpopup3').modal("toggle");
			$('#myModalpopup3 .modal-body').text(responseText);
		}
		function handleError(xhr, status, error) {
			var errorMessage = xhr.responseText || "An error occurred. Please try again.";
			$('#myModalpopup1').modal("toggle");
			$('#myModalpopup1 .modal-body').text(errorMessage);
		}
	};

	function home() {
		location.href = './IPSDashboard';
	}

	function back() {
		window.history.back();
	}

	function RoleListPage() {
		location.href = './IPSAccessandRoles';
	}

	function fnClick(a) {
		var userid = a.getAttribute("data-userid");
		location.href = 'IPSAccessandRoles?formmode=edit&userid=' + userid
	}

	function adduser(a) {
		location.href = 'IPSAccessandRoles?formmode=add';
	}

	function list() {
		location.href = 'IPSAccessandRoles?formmode=list';
	}

	function edit_btn_submit(a) {
		var srlno = a.getAttribute("data-role_id");
		location.href = 'IPSAccessandRoles?formmode=edit&userid=' + srlno;
	}

	function view_btn_submit(a) {
		var srlno = a.getAttribute("data-role_id");
		location.href = 'IPSAccessandRoles?formmode=view&userid=' + srlno;
	}

	function view_new_btn_submit(a) {
		var srlno = a.getAttribute("data-role_id");
		location.href = 'IPSAccessandRoles?formmode=viewnew&userid=' + srlno;
	}

	function verify_btn_submit(a) {
		var srlno = a.getAttribute("data-role_id");
		location.href = 'IPSAccessandRoles?formmode=verify&userid=' + srlno;
	}

	function cancel_btn_submit(a) {
		var srlno = a.getAttribute("data-role_id");
		location.href = 'IPSAccessandRoles?formmode=cancel&userid=' + srlno;
	}

	function delete_btn_submit(a) {
		var rollID = a.getAttribute("data-role_id");
		location.href = 'IPSAccessandRoles?formmode=delete&userid=' + rollID;
	}

	function Permission() {
		var roleid = $("#permissions").find(':selected').val();
		if (roleid == 'R') {
			$("#work_class").val("B");
		} else if (roleid == 'W') {
			$("#work_class").val("");
		} else {

		}
		$(this).find(':selected').text();
	}

	function roledesc() {
		var roleid = $("#work_class").find(':selected').val();
		if (roleid == 'M') {
			$("#permissions").val("W");
		} else if (roleid == 'C') {
			$("#permissions").val("W");
		}
		$(this).find(':selected').text();
	}

	function camelCaseToTitle(camelCase) {
		return camelCase.replace(/([A-Z])/g, ' $1').replace(/^./, function(str) {
			return str.toUpperCase();
		});
	}
	function getvalue() {
		var data = "";
		var n1 = document.getElementById('log').innerText;
		document.getElementById('log').innerHTML = "";
		$('#finusers :checkbox:checked').each(function() {
			var status = (this.checked ? $(this).val() : "");
			var id = $(this).attr("id");
			$('#log').show();
			$('#menucontent').hide();
			data += "<h4>" + camelCaseToTitle(id) + "</h6>";
		});
		$('#log').append(data);
	}

	function checkUnorderedList(checkbox) {
		var unorderedList = $(checkbox).next('ul');
		unorderedList.find('input[type="checkbox"]').prop('checked', checkbox.checked);
	}
	function checkAdmin(checkbox) {
		var adminCheckbox = $('#Admin');
		adminCheckbox.prop('checked', true);
	}
	function checkIPSparam(checkbox) {
		var adminCheckbox = $('#IpsParameter');
		adminCheckbox.prop('checked', true);
	}
	function checkAudit(checkbox) {
		var adminCheckbox = $('#AuditOperations');
		adminCheckbox.prop('checked', true);
	}

	function handleIn(input) {
		input.value = input.value.replace(/[^\w\s]/gi, '').toUpperCase();
	}

	$(document).ready(function() {
		$('#usertable').DataTable({
			"destroy" : true,
			"scrollCollapse" : true,
			"paging" : true,
			"autoWidth" : false,
			"ordering" : true,
			"oLanguage" : {
				"sSearch" : "",
				"sSearchPlaceholder" : "Search Here"
			},
			"searching" : true,
			"pageLength" : 1,
			"lengthChange" : false,
			//"bInfo" : false,
			"initComplete" : function(settings, json) {
				$('#usertable').css('width', '100%');
			}
		});
	});

	function handleInputRoleId(input) {
		input.value = input.value.replace(/[^a-zA-Z0-9\s]/g, '').toUpperCase().trim();
	}

	/*<![CDATA[*/
</script>
</head>
<title>IPSAdmin</title>

<body>
	<div th:insert="MMenupage :: header"></div>
	<div class="container-manager">
		<div th:if="${formmode}=='list'" class=" content">
			<div class="card">
				<div class="card-header">
					<div class="d-flex justify-content-between align-items-center">
						<h6 style="font-size: 25px; color: white; font-weight: 700;" th:text="${menuname}"></h6>
						<button type="button" class="btn btn-sm commonBtnStyle" id="btnAdd" th:if="${IPSRoleMenu.work_class}=='C' OR ${IPSRoleMenu.permissions}=='W'" onclick="adduser();" title="Add Role">Add
							Role</button>
					</div>
				</div>
				<div class="card-body p-0">
					<table class="table table-striped table-bordered table-hover table-sm" id="usertable">
						<thead>
							<tr>
								<th>Role Id</th>
								<th>Role Description</th>
								<th>Menu List</th>
								<th>Work Class</th>
								<th>Status</th>
								<th>Select</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="AccessRole : ${AccessandRoles}" th:attr="data-userid=${AccessRole?.role_id}" th:id="${AccessRole?.role_id}" class="userlist">
								<td th:text="${AccessRole?.role_id.toUpperCase()}"></td>
								<td th:text="${AccessRole?.role_desc.toUpperCase()}"></td>
								<td>
									<ul th:each="value : ${#strings.arraySplit(AccessRole?.menulist.toUpperCase(), ',')}">
										<li th:text="${value}"></li>
									</ul>
								</td>
								<th:block th:switch="${AccessRole?.work_class}">
									<td th:case="'M'">MAKER</td>
									<td th:case="'C'">CHECKER</td>
									<td th:case="'B'">READER</td>
								</th:block>
								<th:block th:switch="${AccessRole?.entity_flg}">
									<td th:case="'Y'" style="color: green;">VERIFIED</td>
									<td th:case="'N'" style="color: red;">UNVERIFIED</td>
								</th:block>
								<td>
									<div class="dropdown actionBtn">
										<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" title="Action"
											style="line-height: 0.7; width: 70px; font-size: 13px; color: #162b75; font-weight: 700; background: #e3e3e4;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
										>Action</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="background-color: #e3e3e4; color: #3a4550;">
											<a th:attr="data-role_id=${AccessRole?.role_id}" class="dropdown-item" title="Modify"
												style="cursor: pointer; height: 20px; width: 50px; background: #e3e3e4; border-radius: .20rem; padding: 2px 10px; top: 10px; padding-bottom: 22px; font-size: 15px; color: #162b75; font-weight: 700;"
												id="edit_value" onclick="edit_btn_submit(this)" th:if="${AccessRole?.entity_flg} =='Y' AND ${IPSRoleMenu.permissions}=='W'"
											>Modify</a>
											<div class="dropdown-divider" th:if="${AccessRole?.entity_flg} =='Y' AND ${IPSRoleMenu.permissions}=='W'"></div>
											<a th:attr="data-role_id=${AccessRole?.role_id}" class="dropdown-item" title="Inquiry"
												style="cursor: pointer; height: 20px; width: 50px; background: #e3e3e4; border-radius: .20rem; padding: 2px 10px; top: 10px; padding-bottom: 22px; font-size: 15px; color: #162b75; font-weight: 700;"
												onclick="view_btn_submit(this)" id="view_btn" th:if="${AccessRole.entity_flg}=='Y' OR ${AccessRole.new_role_flg}=='N' OR ${AccessRole.modify_flg}=='Y'  "
											>View </a> <a th:attr="data-role_id=${AccessRole?.role_id}" class="dropdown-item" title="Inquiry"
												style="cursor: pointer; height: 20px; width: 50px; background: #e3e3e4; border-radius: .20rem; padding: 2px 10px; top: 10px; padding-bottom: 22px; font-size: 15px; color: #162b75; font-weight: 700;"
												onclick="view_new_btn_submit(this)" id="view_btn" th:if="(${AccessRole.entity_flg}=='N' AND ${AccessRole.new_role_flg}=='Y' AND ${AccessRole.modify_flg}=='N') "
											>View </a>
											<div class="dropdown-divider" th:if="${AccessRole.entity_flg}=='N' and ${IPSRoleMenu.work_class}=='C'"></div>
											<a th:attr="data-role_id=${AccessRole?.role_id}" th:if="${AccessRole?.entity_flg} == 'N' AND ${IPSRoleMenu.work_class}=='C'" class="dropdown-item" title="Verify"
												style="cursor: pointer; height: 20px; width: 50px; background: #e3e3e4; border-radius: .20rem; padding: 2px 10px; top: 10px; padding-bottom: 22px; font-size: 15px; color: #162b75; font-weight: 700;"
												onclick="verify_btn_submit(this)" id="MFundtransfer1"
											>Verify </a>
											<div class="dropdown-divider" th:if="${AccessRole?.entity_flg} == 'N'"></div>
											<a class="dropdown-item" title="View"
												style="cursor: pointer; height: 20px; width: 50px; background: #e3e3e4; border-radius: .20rem; padding: 2px 10px; top: 10px; padding-bottom: 22px; font-size: 15px; color: #162b75; font-weight: 700;"
												th:attr="data-role_id=${AccessRole?.role_id}" onclick="cancel_btn_submit(this);" th:id="${AccessRole?.role_id}" th:if="${AccessRole.entity_flg}=='N' "
											>Delete</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer text-center">
					<button type="button" class="btn btn-sm btn-primary mr-2" id="btnHome" onclick="home();">Home</button>
					<button type="button" class="btn btn-sm btn-primary" id="btnBack" onclick="home();">Back</button>
				</div>
			</div>
		</div>

		<div class="pt-3" th:if="${formmode}=='edit' OR ${formmode}=='add' OR ${formmode}=='delete' OR ${formmode}=='view' OR ${formmode}=='verify' OR ${formmode}=='cancel'">
			<div class="card">
				<div class="card-header">
					<div class="float-left">
						<h6 style="font-size: 1.5rem; color: white;" th:text="${menuname}"></h6>
					</div>
				</div>
				<div class="card-body mb-0 pb-0">
					<form action="#" th:object="${IPSAccessRole}" method="post" autocomplete="off" id="IPSAccessRole" th:fragment="finuserapply">
						<div class="row formline">
							<label class="col-sm-2">Role Id <span style="color: red; font-size: 20px;" th:if="${formmode}=='add'">*</span></label>
							<div class="col-sm-3" th:if="${formmode}=='add'">
								<input type="text" id="role_id1" name="role_id" class="form-control form-control-sm commonBackground" maxlength="10" onkeyup="this.value = this.value.toUpperCase();handleInputRoleId(this)"
									autocomplete="off" required
								/>
							</div>
							<div class="col-sm-3" th:if="${formmode}=='edit' or ${formmode}=='view' or ${formmode}=='verify' or ${formmode}=='cancel' or ${formmode}=='delete'">
								<input type="text" id="role_id" th:value="*{role_id}" th:field="*{role_id}" autocomplete="off" onkeyup="this.value = this.value.toUpperCase();handleIn(this)"
									class="form-control form-control-sm" required readonly
								/>
							</div>
							<div class="col-sm-1"></div>
							<label class="col-sm-2">Role Description <span style="color: red; font-size: 20px;" th:if="${formmode}=='add'">*</span></label>
							<div class="col-sm-3">
								<input th:if="${formmode}=='add'" type="text" id="role_desc" name="role_desc" maxlength="30" autocomplete="off" onkeyup="this.value = this.value.toUpperCase();handleIn(this)"
									class="form-control form-control-sm commonBackground" required
								/> <input th:if="${formmode}=='edit' OR ${formmode}=='view' OR ${formmode}=='verify' OR ${formmode}=='cancel' OR ${formmode}=='delete'" type="text" id="role_desc" th:value="*{role_desc}"
									autocomplete="off" th:field="*{role_desc}" class="form-control form-control-sm" readonly
								/>
							</div>
							<div class="col-sm-1"></div>
						</div>
						<div class="row formline">
							<label style="height: 2px;"></label>
						</div>
						<div class="row formline">
							<label class="col-sm-2">Permissions <span style="color: red; font-size: 20px;" th:if="${formmode}=='add' OR ${formmode}=='edit'">*</span></label>
							<div class="col-sm-3" th:if="${formmode}=='add'">
								<select id="permissions" class="form-control form-control-sm" style="width: 100%" onchange="Permission();" name="permissions" required>
									<option value="R">READ</option>
									<option value="W">WRITE</option>
								</select>
							</div>
							<div class="col-sm-3" th:if="${formmode}=='edit'">
								<select id="permissions" class="form-control form-control-sm" style="width: 100%" onchange="Permission();" th:value="*{permissions}" th:field="*{permissions}" required>
									<option value="R">READ</option>
									<option value="W">WRITE</option>
								</select>
							</div>
							<div class="col-sm-3" th:if="${formmode}=='view' OR ${formmode}=='verify' OR ${formmode}=='cancel' OR ${formmode}=='delete' ">
								<input type="text" id="permissions" autocomplete="off" class="form-control form-control-sm" th:value="${IPSAccessRole.permissions=='W'} ? 'WRITE' : 'READ'" readonly>
							</div>
							<div class="col-sm-1"></div>
							<label class="col-sm-2">Remarks</label>
							<div class="col-sm-3" th:if="${formmode}=='edit'">
								<input th:value="${remarks}" id="remarks" th:field="*{remarks}" onkeyup="this.value = this.value.toUpperCase();handleIn(this)" class="form-control form-control-sm commonBackground" />
							</div>
							<div class="col-sm-3" th:if=" ${formmode}=='add'">
								<input id="remarks" name="remarks" maxlength="50" autocomplete="off" onkeyup="this.value = this.value.toUpperCase();handleIn(this)" class="form-control form-control-sm commonBackground" />
							</div>
							<div class="col-sm-3" th:if="${formmode}=='view'OR ${formmode}=='verify' OR ${formmode}=='cancel' OR ${formmode}=='delete'">
								<input th:value="${remarks}" id="remarks" th:field="*{remarks}" autocomplete="off" class="form-control form-control-sm" readonly />
							</div>
						</div>
						<div class="row formline">
							<label style="height: 2px;"></label>
						</div>
						<div class="row formline">
							<label class="col-sm-2">Work Class <span style="color: red; font-size: 20px;" th:if="${formmode}=='add' OR ${formmode}=='edit'">*</span></label>
							<div class="col-sm-3" th:if="${formmode}=='add'">
								<select id="work_class" class="form-control form-control-sm" style="width: 100%" name="work_class" onchange="roledesc();" required>
									<option value="M">MAKER</option>
									<option value="C">CHECKER</option>
								</select>
							</div>
							<div class="col-sm-3" th:if="${formmode}=='edit'">
								<select id="work_class" class="form-control form-control-sm" style="width: 100%" th:value="*{work_class}" th:field="*{work_class}" onchange="roledesc();" required>
									<option value="M">MAKER</option>
									<option value="C">CHECKER</option>
								</select>
							</div>
							<div class="col-sm-3" th:if="${formmode}=='view' OR ${formmode}=='verify' OR ${formmode}=='cancel' OR ${formmode}=='delete'">
								<input type="text" id="work_class" class="form-control form-control-sm" th:value="${IPSAccessRole.work_class == 'M' ? 'MAKER' : (IPSAccessRole.work_class == 'C' ? 'CHECKER' : 'Reviewer')}"
									readonly
								/>
							</div>
							<div class="col-sm-1"></div>
							<label class="col-sm-2">Menu List</label>
							<div class="col-sm-3">
								<div id="log" style="display: none; color: black;"></div>
								<div th:if="${formmode}=='edit' OR ${formmode}=='view' OR ${formmode}=='verify' OR ${formmode}=='cancel' OR ${formmode}=='delete'" id="menucontent">
									<p id="menuValue" th:each="message:${#strings.arraySplit(IPSAccessRole.menulist, ',')}" th:text="${message}"></p>
								</div>
							</div>
							<div class="col-sm-1">
								<a th:if="${formmode}=='add' OR ${formmode}=='edit'" href="#"> <img style="width: 20px; height: 20px;" title="Search" th:src="@{/images/Search.png}" class="searchico" data-toggle="modal"
									data-target="#finusers" id="iconacc" alt="Search"
								>
								</a>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer text-center p-2">
					<button type="button" class="btn btn-sm commonBtnStyle mr-2" data-dismiss="modal" onclick="home();">Home</button>
					<button th:if="${formmode}=='add'" type="button" class="btn btn-sm commonBtnStyle mr-2" form="IPSAccessRole" th:attr="data-formmode='add'" id="btnSubmit" onclick="submitform(this);">Submit</button>
					<button th:if="${formmode}=='edit'" type="button" class="btn btn-sm commonBtnStyle mr-2" form="IPSAccessRole" th:attr="data-formmode='edit'" id="btnSubmit" onclick="submitform(this);">Submit</button>
					<button th:if="${formmode}=='verify'" type="button" class="btn btn-sm commonBtnStyle mr-2" form="IPSAccessRole"
						th:attr="data-formmode='verify',data-entry_user=${IPSAccessRole.entry_user},
									data-modify_user=${IPSAccessRole.modify_user},
									data-work_class=${IPSRoleMenu.work_class}"
						id="btnSubmit" onclick="verifySubmit(this);"
					>Verify</button>
					<button th:if="${formmode}=='cancel'" type="button" class="btn btn-sm commonBtnStyle mr-2" form="IPSAccessRole"
						th:attr="data-formmode='cancel',data-entry_user=${IPSAccessRole.entry_user},
									data-modify_user=${IPSAccessRole.modify_user}" id="btnSubmit" onclick="cancelSubmit(this);"
					>Delete</button>
					<button th:if="${formmode}=='delete'" type="button" class="btn btn-sm commonBtnStyle mr-2" form="IPSAccessRole"
						th:attr="data-formmode='delete',data-entry_user=${IPSAccessRole.entry_user},
									data-modify_user=${IPSAccessRole.modify_user}" id="btnSubmit" onclick="deleteSubmit(this);"
					>Delete</button>
					<button type="button" class="btn btn-sm btn-primary" id="btnBack" onclick="back();">Back</button>
				</div>
				<div class="content m-2 border" th:if="${formmode}=='edit' OR ${formmode}=='verify' OR ${formmode}=='cancel' OR ${formmode}=='view'" th:each="alert : ${IPSAccessRole}" style="padding: 15px;">
					<div class="row formline mb-2">
						<label class="col-sm-2">Entry User</label>
						<div class="col-sm-2">
							<input type="text" th:if="${formmode}=='edit' OR ${formmode}=='verify' OR ${formmode}=='cancel' OR ${formmode}=='view'" th:value="${alert?.entry_user}" id="entry_user" name="entry_user"
								class="form-control form-control-sm" autocomplete="off" readonly
							/>
						</div>
						<label class="col-sm-2">Modify User</label>
						<div class="col-sm-2">
							<input type="text" th:if=" ${formmode}=='verify' OR ${formmode}=='cancel'" th:value="${alert?.modify_user}" id="modify_user" name="modify_user" class="form-control form-control-sm"
								autocomplete="off" readonly
							/> <input type="text" th:if="${formmode}=='edit' OR ${formmode}=='view'" th:value="${alert?.modify_user}" id="modify_user" name="modify_user" class="form-control form-control-sm"
								autocomplete="off" readonly
							/>
						</div>
						<label class="col-sm-2">Verify User</label>
						<div class="col-sm-2">
							<input type="text" th:value="${alert?.auth_user}" th:if="${formmode}=='edit'" id="auth_user" name="auth_user" class="form-control form-control-sm" autocomplete="off" readonly /> <input
								type="text" th:if="${formmode}=='verify' OR ${formmode}=='cancel' OR ${formmode}=='view'" id="auth_user" name="auth_user" th:value="${alert?.auth_user}" class="form-control form-control-sm"
								autocomplete="off" readonly
							/>
						</div>
					</div>
					<div class="row formline">
						<label class="col-sm-2">Entry Time</label>
						<div class="col-sm-2">
							<input type="text" th:if="${formmode}=='edit' OR ${formmode}=='verify' OR ${formmode}=='cancel' OR ${formmode}=='view'" th:value="${#dates.format(alert?.entry_time,'dd-MM-yyyy HH:mm')}"
								id="entry_date" name="entry_time" class="form-control form-control-sm" autocomplete="off" readonly
							/>
						</div>
						<label class="col-sm-2">Modify Time</label>
						<div class="col-sm-2">
							<input type="text" th:if="${formmode}=='verify' OR ${formmode}=='cancel'" th:value="${#dates.format(alert?.modify_time,'dd-MM-yyyy HH:mm')}" id="modify_date" name="modify_time"
								class="form-control form-control-sm" autocomplete="off" readonly
							/> <input type="text" th:if="${formmode}=='edit' OR ${formmode}=='view'" th:value="${#dates.format(alert?.modify_time,'dd-MM-yyyy HH:mm')}" id="modify_date" name="modify_time"
								class="form-control form-control-sm" autocomplete="off" readonly
							/>
						</div>
						<label class="col-sm-2">Verify Time</label>
						<div class="col-sm-2">
							<input type="text" th:if="${formmode}=='verify' OR ${formmode}=='cancel' OR ${formmode}=='view' OR ${formmode}=='edit'" id="auth_time" name="auth_time"
								th:value="${#dates.format(alert?.auth_time,'dd-MM-yyyy HH:mm')}" class="form-control form-control-sm" autocomplete="off" readonly
							/>
						</div>
						<label></label>
					</div>
				</div>
			</div>
		</div>

		<!-- Model Box -->

		<div class="modal fade" id="finusers" style="background: #000000b0;">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<div class="modal-header" style="background-color: #f26223;">
						<h4 class="modal-title" style="color: white;">Menu List</h4>
						<button type="button" style="color: #000000; font-size: 20px;" class="close" data-dismiss="modal">X</button>
					</div>
					<div class="modal-body" style="background-color: white;">
						<input type="checkbox" id="Admin" value="Y" name="admin" th:checked="${IPSAccessRole?.admin}==Y" style="margin-right: 10px" onclick="checkUnorderedList(this)" />Admin Operations
						<ul>
							<li><input type="checkbox" id="UserProfileMaintenance" value="Y" name="user_profile_maintenance" th:checked="${IPSAccessRole?.user_profile_maintenance == 'Y'}" onclick="checkAdmin(this)"
								style="margin-right: 10px; margin-top: 10px"
							/> <label for="UserProfileMaintenance">User Profile Maintenance</label></li>
							<li><input type="checkbox" id="AccessRole" value="Y" name="access_role" th:checked="${IPSAccessRole?.access_role == 'Y'}" onclick="checkAdmin(this)" style="margin-right: 10px" /> <label
								for="AccessRole"
							>Access and Roles</label></li>
							<li><input type="checkbox" id="ReferenceCode" value='Y' name="reference_code" style="margin-right: 10px" th:checked="${IPSAccessRole?.reference_code}=='Y'" /> <label for="ReferenceCode">Reference
									Code</label></li>
							<li><input type="checkbox" id="bankBranchDetail" value='Y' name="bank_branch_master" style="margin-right: 10px" th:checked="${IPSAccessRole?.bank_branch_master}=='Y'" /> <label
								for="ReferenceCode"
							>Bank and Branch Master</label></li>
						</ul>
						<input type="checkbox" id="MerchantParameter" value="Y" name="ipsparameter" onclick="checkUnorderedList(this)" th:checked="${IPSAccessRole?.ips_parameter}==Y" style="margin-right: 10px" />Merchant
						Parameter
						<ul>
							<li><input type="checkbox" id="ServiceChargesFees" value="Y" name="service_charges_fees" th:checked="${IPSAccessRole?.service_charges_fees == 'Y'}" onclick="checkIPSparam(this)"
								style="margin-right: 10px; margin-top: 10px"
							/> <label for="ServiceChargesFees">Service Charges and Fees</label></li>
							<li><input type="checkbox" id="MerchantFeesCharges" value="Y" name="wallet_fees_charges" th:checked="${IPSAccessRole?.wallet_fees_charges == 'Y'}" onclick="checkIPSparam(this)"
								style="margin-right: 10px; margin-top: 10px"
							/> <label for="MerchantFeesCharges">Merchant Fees and Charges</label></li>
							<li><input type="checkbox" id="MerchantCategoryCode" value="Y" name="merchant_category_code" th:checked="${IPSAccessRole?.merchant_category_code == 'Y'}" onclick="checkIPSparam(this)"
								style="margin-right: 10px; margin-top: 10px"
							/> <label for="MerchantCategoryCode">Merchant Category Code</label></li>
							<li><input type="checkbox" id="NotificationParameter" value="Y" name="notification_parameter" th:checked="${IPSAccessRole?.notification_parameter == 'Y'}" onclick="checkIPSparam(this)"
								style="margin-right: 10px; margin-top: 10px"
							/> <label for="NotificationParameter">Notification Parameter</label></li>
							<li><input type="checkbox" id="settlementAccount" value="Y" name="settlement_account" th:checked="${IPSAccessRole?.settlement_account == 'Y'}" onclick="checkIPSparam(this)"
								style="margin-right: 10px; margin-top: 10px"
							/> <label for="settlementAccount">Settlement Account</label></li>
						</ul>
						<input type="checkbox" id="AuditOperations" value='Y' name="audit_operations" style="margin-right: 10px" onclick="checkUnorderedList(this)" th:checked="${IPSAccessRole?.audit_operations}=='Y'" />Audit
						Operations
						<ul>
							<li><input type="checkbox" id="UserActivityAudits" value="Y" name="user_activity_audits" style="margin-right: 10px; margin-top: 10px"
								th:checked="${IPSAccessRole?.user_activity_audits == 'Y'}" onclick="checkAudit(this)"
							/> <label for="UserActivityAudits">User Activity Audits</label></li>
							<li><input type="checkbox" id="ServiceAudits" value="Y" name="service_audits" th:checked="${IPSAccessRole?.service_audits == 'Y'}" onclick="checkAudit(this)"
								style="margin-right: 10px; margin-top: 10px"
							/> <label for="ServiceAudits">Service Audits</label></li>
						</ul>
						<input type="checkbox" id="ChargeBack" value='Y' name="charge_back" style="margin-right: 10px" th:checked="${IPSAccessRole?.charge_back}=='Y'" /> <label for="ChargeBack">Charge Back</label> <br>
						<input type="checkbox" id="TransactionMonitoring" value='Y' name="transaction_monitoring" style="margin-right: 10px" th:checked="${IPSAccessRole?.transaction_monitoring}=='Y'" /> <label
							for="ChargeBack"
						>Transaction Monitoring</label> <br> <input type="checkbox" id="MerchantMaster" value='Y' name="merchant_master" style="margin-right: 10px" th:checked="${IPSAccessRole?.merchant_master}=='Y'" />
						<label for="MerchantMaster">Merchant Master</label> <br> <input type="checkbox" id="Reports" value='Y' name="reports" style="margin-right: 10px" th:checked="${IPSAccessRole?.reports}=='Y'" />
						<label for="reports">Reports</label>
						<div style="float: right;">
							<button type="button" class="btn btn-primary" data-dismiss="modal" onclick="getvalue();">SUBMIT</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="myModalpopup2" data-backdrop="static" data-keyboard="false" style="background: #000000b0;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<h3 class="text-center p-2 text-white font-weight-bold" style="background: #f26223;">BANK OF (BARODA BOTSWANA) LTD</h3>
					<h4 class="modal-body text-center font-weight-bold" style="color: black !important; font-size: 19px"></h4>
					<div class="text-center">
						<button type="button" class="btn mb-2" style="width: 16%; background: #f26223; font-size: 17px;" data-dismiss="modal" onclick="back()">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="myModalpopup3" data-backdrop="static" data-keyboard="false" style="background: #000000b0;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<h3 class="text-center p-2 text-white font-weight-bold" style="background: #f26223;">BANK OF (BARODA BOTSWANA) LTD</h3>
					<h4 class="modal-body text-center font-weight-bold" style="color: black !important; font-size: 19px"></h4>
					<div class="text-center">
						<button type="button" class="btn mb-2" style="width: 16%; background: #f26223; font-size: 17px;" data-dismiss="modal" onclick="RoleListPage()">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="myModalpopup1" data-backdrop="static" data-keyboard="false" style="background: #000000b0;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">
					<h3 class="text-center p-2 text-white font-weight-bold" style="background: #f26223;">BANK OF BARODA (BOTSWANA) LTD</h3>
					<h4 class="modal-body text-center font-weight-bold" style="color: black !important; font-size: 19px"></h4>
					<div class="text-center">
						<button type="button" class="btn mb-2" style="width: 16%; background: #f26223; font-size: 17px;" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="datadelete" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
				<div class="modal-content">

					<div class="menu-title-header">
						<div class="modal-title" id="exampleModalLabel" style="text-align: center; color: white;">BANK OF BARODA</div>
					</div>
					<div class="modal-body" style="margin-top: 8px; text-align: center; background-color: #c6ccd2">
						<button type="button" class="close" data-dismiss="modal">×</button>
						Are you Sure want to delete?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="submitformdelete(this);" th:attr="data-formmode=delete">Submit</button>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</body>

</html>