<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="summary">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/datatables/1.10.19/css/jquery.dataTables.min.css"
	th:href="@{/webjars/datatables/1.10.19/css/jquery.dataTables.min.css}">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>
<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>
<script src="/webjars/datatables/1.10.19/js/jquery.dataTables.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/jquery.dataTables.min.js}"></script>
<script
	src="/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js"
	th:src="@{/webjars/datatables/1.10.19/js/dataTables.bootstrap4.min.js}"></script>
<script src="js/bootstrap411.js"></script>

<style>
.filterable .filters input[disabled] {
	background-color: transparent;
	border: none;
	cursor: auto;
	box-shadow: none;
	padding: 0;
	height: auto;
}
#currentDate {
    background-color: transparent;  /* Remove background color */
    border: none;  
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
	color: #333;
}

.filterable .filters input[disabled]::-moz-placeholder {
	color: #333;
}

.filterable .filters input[disabled]:-ms-input-placeholder {
	color: #333;
}

.filterable .filters input[disabled]::-webkit-input-placeholder {
	color: #333;
}
td {
	background-color: #f8f7ff;
}

.container-manager {
	padding-right: 43px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: 18.3%;
	margin-top: 80px;
}

.dataTables_empty {
	color: #be3232;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

#usertable {
	border-collapse: separate;
	border-spacing: 0;
}

#usertable tr {
	border-bottom: 1px solid #808080;
}

#usertable td, #usertable th {
	border: 2px solid #095776;
	padding: 15px;
}

#usertable th:last-child, #usertable td:last-child {
	border-right: none;
}

.dataTables_scrollBody {
	overflow: unset !important;
}

#usertable_wrapper .dataTables_filter input[type="search"] {
	margin-left: -10px;
}

.dataTables_wrapper .dataTables_filter {
	float: right;
	margin-right: 20px;
}

.dataTables_filter input {
	color: black;
	background-color: white;
}

.dataTables_wrapper .dataTables_filter input[type="search"]::placeholder
	{
	color: black;
	font-style: italic;
}

input, select {
	height: 35px !important;
}

label {
	font-size: 18px !important;
}

.btnDownload .dropdown-menu {
	min-width: 8rem !important;
}
</style>
</head>


<script th:inline="javascript">

	/*<![CDATA[*/
		
	$(function () {
		$("#from_date").datepicker({
			dateFormat: 'dd/mm/yy',
			maxDate: new Date(),
			onClose: function (selectedDate) {
				$("#to_date").datepicker("option", "minDate", selectedDate);
			}
		});
		$("#to_date").datepicker({
			dateFormat: 'dd/mm/yy',
			maxDate: new Date(),
			onClose: function (selectedDate) {
				$("#from_date").datepicker("option", "maxDate", selectedDate);
			}
		});
	});

	function formatDate(dateString) {
		var dateParts = dateString.split("/");
		var day = dateParts[0];
		var month = parseInt(dateParts[1], 10);
		var year = dateParts[2];
		var monthNames = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
		var monthName = monthNames[month - 1];
		return day + "-" + monthName + "-" + year;
	}

	function downloadPdfExcel(a) {
		var from_date = document.getElementById("from_date").value;
		var to_date = document.getElementById("to_date").value;
		if (!from_date || !to_date) {
			$('#myModalpopup1').modal("toggle");
     	    $('#myModalpopup1 .modal-body').text("Please fill the From Date and To Date");
			return;
		}
		console.log("before Date" + from_date);
		var formatted_from_date = formatDate(from_date);
		var formatted_to_date = formatDate(to_date);
		console.log("after Date" + formatted_from_date);
		var filetype = a.getAttribute("data-fileType");
		var count = null;
		$.ajax({
			url: 'DownloadTransactionDateChecking',
			type: 'GET',

			data: {
				filetype: filetype,
				from_date: formatted_from_date,
				to_date: formatted_to_date
			},
			success: function (response) {
				console.log(response);
				count = response;
				if (count > 0) {
					var downloadUrl = './TransactionDownload?filetype=' + filetype + '&from_date=' + formatted_from_date + '&to_date=' + formatted_to_date;
					$.ajax({
						url : downloadUrl,
						method : "GET",
						success : function(response) {
							window.location.href = downloadUrl;
						},
						error : function() {
							$('#myModalpopup1').modal("toggle");
							$('#myModalpopup1 .modal-body').text("An error occurred while processing your request. Please try again later.");
						}
					});
				} else {
					$('#myModalpopup1').modal("toggle");
					$('#myModalpopup1 .modal-body').text("There is no Transaction in these between Dates.");
				}
			},
			error: function (xhr, status, error) {
				$('#myModalpopup1').modal("toggle");
				$('#myModalpopup1 .modal-body').text("An error occurred while processing the request.");
			}
		});
	}

	function home() {
		location.href = './IPSDashboard'
	}

	function back() {
		window.history.back();
	}
	$(document).ready(function () {
		$('#usertable').DataTable({
			"destroy": true,
			"scrollCollapse": true,
			"paging": true,
			"autoWidth": false,
			"ordering": true,
			"oLanguage": {
				"sSearch": "",
				"sSearchPlaceholder": "Search Here"
			},
			"searching": true,
			"pageLength": 10,
			"lengthChange": false,
		});
	});

	$(document).ready(function () {
	    // Initialize FromDate with the current date
	    var currentDate = $.datepicker.formatDate('dd-mm-yy', new Date());
	    $("#FromDate").val(currentDate);
	    $("#FromDate").datepicker({
	        dateFormat: 'dd-mm-yy',
	        maxDate: new Date(),
	        onSelect: function (selected) {
	            // When From Date is selected, update To Date picker's minDate and default value
	            $("#currentDate").datepicker("option", "minDate", selected); // Set minDate for To Date
	            $("#currentDate").val(selected); // Update To Date to match From Date
	        }
	    });

	    // Initialize currentDate (To Date) with the current date
	    $("#currentDate").val(currentDate);
	    $("#currentDate").datepicker({
	        dateFormat: 'dd-mm-yy',
	        maxDate: new Date(),
	        onSelect: function (selected) {
	            var fromDate = $("#FromDate").val(); // Get the From Date value
	            var isFromDateDefault = fromDate === currentDate; 
	            // Check if From Date is not selected or empty
	            if (isFromDateDefault ) {
	                $('#myModalpopup1').modal("toggle");
	                $('#myModalpopup1 .modal-body').text("Please Select From Date.");
	                
	            } else {
	                // Proceed with the function if From Date is not empty
	                getTransactionRecords();
	            }

	            
	        }
	    });
	});


	
	function getTransactionRecords() {
		var valueDate = $('#currentDate').val();
		var FromDate = $('#FromDate').val();
		alert(FromDate);
		
		$.ajax({
			url: './getTransactionRecords?valueDate=' + valueDate + '&FromDate=' +FromDate,
			type: 'GET',
			success: function (data) {
				var trHTML = '';
				if (data.length > 0) {
					data.forEach(function (entity) {
						var tranDate = null;
						if (entity.tran_date != null) {
							var originalStartDate = new Date(entity.tran_date);
							var startYear = originalStartDate.getFullYear();
							var startMonth = String(originalStartDate.getMonth() + 1).padStart(2, '0');
							var startDay = String(originalStartDate.getDate()).padStart(2, '0');
							tranDate = `${startDay}-${startMonth}-${startYear}`;
						} else {
							tranDate = "";
						}
						var reversalDate = null;
						if (entity.reversal_date != null) {
							var originalStartDate = new Date(entity.reversal_date);
							var startYear = originalStartDate.getFullYear();
							var startMonth = String(originalStartDate.getMonth() + 1).padStart(2, '0');
							var startDay = String(originalStartDate.getDate()).padStart(2, '0');
							reversalDate = `${startDay}-${startMonth}-${startYear}`;
						} else {
							reversalDate = "";
						}
						var tranAmount = null;
						if (entity.tran_amount != null) {
							let stringValue1 = entity.tran_amount;
							let floatValue1 = parseFloat(stringValue1);
							let roundedValue1 = floatValue1.toFixed(2);
							tranAmount = formatNumberWithCommas(roundedValue1);
						} else {
							tranAmount = "0.00";
						}
						var reversalAmount = null;
						if (entity.reversal_amount != null) {
							let stringValue1 = entity.reversal_amount;
							let floatValue1 = parseFloat(stringValue1);
							let roundedValue1 = floatValue1.toFixed(2);
							reversalAmount = formatNumberWithCommas(roundedValue1);
						} else {
							reversalAmount = "0.00";
						}
						var merchantId = entity.merchant_id != null ? entity.merchant_id : "";
						var sequenceUniqueId = entity.sequence_unique_id != null ? entity.sequence_unique_id : "";
						var tranAuditNumber = entity.tran_audit_number != null ? entity.tran_audit_number : "";
						var ipsxAcct = entity.ipsx_account != null ? entity.ipsx_account : "";
						var ipsxAcctName = entity.ipsx_account_name != null ? entity.ipsx_account_name : "";
						var cimAcct = entity.cim_account != null ? entity.cim_account : "";
						var cimAcctName = entity.cim_account_name != null ? entity.cim_account_name : "";
						var tranCurrency = entity.tran_currency != null ? entity.tran_currency : "";
						var tranStatus = entity.tran_status != null ? entity.tran_status : "";
						var tranRemarks = entity.tran_rmks != null ? entity.tran_rmks : "";
						var reversalRemarks = entity.reversal_remarks != null ? entity.reversal_remarks : "";
						var color = tranStatus === 'SUCCESS' ? "green" : "red";
						trHTML += `
						    <tr>
						        <td style="text-align: left;">${tranDate}</td>
						        <td style="text-align: left;">${merchantId}</td>
						        <td style="text-align: left;">${tranAuditNumber}</td>
						        <td style="text-align: right;">${tranAmount}</td>
						        <td style="text-align: left; color: ${color};">${tranStatus}</td>
						      
						        <td style="text-align: left;">${reversalRemarks}</td>
						        <td style="text-align: center; vertical-align: middle; padding: 0;">
						            <input type="radio" id="btnclick" name="btnradio" style="cursor: pointer;"
									data-audit-number="${tranAuditNumber}" id="${tranAuditNumber}" onclick="getUnicRec(this);">
						        </td>
						    </tr>`;
					});
					var userTable = $('#usertable').DataTable({
						"destroy": true,
						"scrollCollapse": true,
						"paging": true,
						"autoWidth": false,
						"ordering": true,
						"oLanguage": {
							"sSearch": "",
							"sSearchPlaceholder": "Search Here"
						},
						"searching": true,
						"pageLength": 10,
						"lengthChange": false,
					});
					userTable.clear().draw();
					$('#transactionBody').empty().append(trHTML);
					userTable.rows.add($('#transactionBody tr')).draw();
				} else {
					trHTML += '<tr><td colspan="10" class="text-center" style="color:red;">No data available</td></tr>';
					$('#transactionBody').empty().append(trHTML);
					var userTable = $('#usertable').DataTable({
						"destroy": true,
						"scrollCollapse": true,
						"paging": true,
						"autoWidth": false,
						"ordering": true,
						"oLanguage": {
							"sSearch": "",
							"sSearchPlaceholder": "Search Here"
						},
						"searching": true,
						"pageLength": 10,
						"lengthChange": false,
					});
					userTable.clear().draw();
				}
			},
			error: function () {
				showErrorModal('Error fetching data');
			}
		});
	}

	function formatNumberWithCommas(number) {
		if (!number && number !== 0) return '';
		let numberString = number.toString();
		let [integerPart, decimalPart] = numberString.split('.');
		let lastThreeDigits = integerPart.slice(-3);
		let otherDigits = integerPart.slice(0, -3);
		if (otherDigits !== '') {
			lastThreeDigits = ',' + lastThreeDigits;
		}
		let formattedIntegerPart = otherDigits.replace(/\B(?=(\d{2})+(?!\d))/g, ',') + lastThreeDigits;
		if (!decimalPart) {
			decimalPart = '00';
		}
		let formattedNumber = formattedIntegerPart + '.' + decimalPart;
		return formattedNumber;
	}
	
	// New
	
	function getUnicRec(a) {
		var auditRef = a.getAttribute("data-audit-number");
		location.href = 'Merchantransaction?formmode=viewTransaction&tran_audit='+ auditRef;
	}
	
	/*<![CDATA[*/
</script>
<script type="text/javascript">
$(document)
.ready(
	function () {
		$('.filterable .btn-filter')
			.click(
				function () {
					var $panel = $(this).parents(
						'.filterable'), $filters = $panel
							.find('.filters input'), $tbody = $panel
								.find('.table tbody');
					if ($filters.prop('disabled') == true) {
						$filters
							.prop('disabled', false);
						$filters.first().focus();
					} else {
						$filters.val('').prop(
							'disabled', true);
						$tbody.find('.no-result')
							.remove();
						$tbody.find('tr').show();
					}
				});

		$('.filterable .filters input')
			.keyup(
				function (e) {
					/* Ignore tab key */
					var code = e.keyCode || e.which;
					if (code == '9')
						return;
					/* Useful DOM data and selectors */
					var $input = $(this), inputContent = $input
						.val().toLowerCase(), $panel = $input
							.parents('.filterable'), column = $panel
								.find('.filters th')
								.index($input.parents('th')), $table = $panel
									.find('.table'), $rows = $table
										.find('tbody tr');
					/* Dirtiest filter function ever ;) */
					var $filteredRows = $rows
						.filter(function () {
							var value = $(this)
								.find('td').eq(
									column)
								.text()
								.toLowerCase();
							return value
								.indexOf(inputContent) === -1;
						});
					/* Clean previous no-result if exist */
					$table.find('tbody .no-result')
						.remove();
					/* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
					$rows.show();
					$filteredRows.hide();
					/* Prepend no-result row if all rows are filtered */
					if ($filteredRows.length === $rows.length) {
						$table
							.find('tbody')
							.prepend(
								$('<tr class="no-result text-center"><td colspan="'
									+ $table
										.find('.filters th').length
									+ '">No Record found</td></tr>'));
					}
				});
	});
</script>
<body>

	<div th:insert="MMenupage :: header"></div>

	<div class="container-manager">
		<div class="content pt-3" th:if="${formmode}=='list'">
			<div class="card panel panel-primary filterable  ">
				<div 
					class="card-header p-1 d-flex justify-content-between align-items-center">
					<h6 class="headerh6 ">Merchant
						Transaction</h6>

					<div class="d-flex align-items-center">
						<h3 class="mx-3 text-white">From Date :</h3>
						<div>
							<input class="form-control form-control-sm text-white" style="background-color:#f26223!important;border:none" type="text"
								id="FromDate"  readonly />
						</div>
						<h3 class="mx-3 text-white">To Date :</h3>
						<div>
							<input class="form-control form-control-sm text-white" type="text"
								id="currentDate" onchange="getTransactionRecords();" readonly />
						</div>
						<button type="button"
							class="btn btns btn-filter headerbutton ml-3">Filter</button>
					</div>

				</div>
				<div class="card-body p-0">

					<table class="table table-striped table-bordered table-hover table-sm" >
						<thead>
							
							<tr class="filters">

								<th style="text-align: center"><input type="text"
									class="form-control font-weight-bold" placeholder="Tran Date"
									disabled></th>
								<th style="text-align: center"><input type="text"
									class="form-control font-weight-bold" placeholder="Mer ID"
									disabled></th>
								<th style="text-align: center"><input type="text"
									class="form-control font-weight-bold" placeholder="Audit Ref"
									disabled></th>
								<th style="text-align: center"><input type="text"
									class="form-control font-weight-bold text-right" placeholder="Amount"
									disabled></th> 
								<th style="text-align: center"><input type="text"
									class="form-control font-weight-bold" placeholder="Status"
									disabled></th>
								<th style="text-align: center"><input type="text"
									class="form-control font-weight-bold" placeholder="Rev Remarks"
									disabled></th>
								<th class="pb-2 select_th">Select</th>


							</tr>
						</thead>
						<tbody id="transactionBody">
							<tr th:each="profile:${click}">
								<td
									th:text="${profile.tran_date != null ? #dates.format(profile.tran_date,'dd-MM-yyyy') : ''}"></td>
								<td
									th:text="${profile.merchant_id !=null ? profile.merchant_id.toUpperCase() : ''}"></td>

								<td
									th:text="${profile.tran_audit_number !=null ? profile.tran_audit_number.toUpperCase() : ''}"></td>
								<!-- <td th:text="${profile.cim_account !=null ? profile.cim_account.toUpperCase() : ''}"></td>
								<td th:text="${profile.cim_account_name !=null ? profile.cim_account_name.toUpperCase() : ''}"></td>
								<td th:text="${profile.ipsx_account !=null ? profile.ipsx_account.toUpperCase() : ''}"></td>
								<td th:text="${profile.ipsx_account_name !=null ? profile.ipsx_account_name.toUpperCase() : ''}"></td>
								<td th:text="${profile.tran_currency !=null ? profile.tran_currency.toUpperCase() : ''}"></td> -->
								<td style="text-align: right;"
									th:text="${profile.tran_amount != null ? #numbers.formatDecimal(profile.tran_amount, 0, 'COMMA', 2, 'POINT') : ''}"></td>
								<th:block th:switch="${profile.tran_status}">
									<td th:case="'SUCCESS'" style="color: green">SUCCESS</td>
									<td th:case="'FAILURE'" style="color: red">FAILURE</td>
									<td th:case="*">UNKNOWN STATUS</td>
									<!-- Handle any other cases -->
								</th:block> 
								<!-- <td th:text="${profile.reversal_date != null ? #dates.format(profile.reversal_date,'dd-MM-yyyy') : ''}"></td>
								<td style="text-align: right;" th:text="${profile.reversal_amount != null ? #numbers.formatDecimal(profile.reversal_amount, 0, 'COMMA', 2, 'POINT') : ''}"></td> -->
								<td
									th:text="${profile.reversal_remarks !=null ? profile.reversal_remarks.toUpperCase() : ''}"></td>
								<td style="text-align: center;"><input type="radio"
									id="btnclick" name="btnradio" style="cursor: pointer;"
									th:attr="data-audit-number=${profile.tran_audit_number}"
									th:id="${profile.tran_audit_number}"
									onclick="getUnicRec(this);"></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="card-footer text-center p-1">
					<button type="button" class="btn btn-sm headerbutton mr-2"
						data-dismiss="modal" onclick="home();">Home</button>
					<button type="button" class="btn btn-sm headerbutton"
						data-dismiss="modal" onclick="back();">Back</button>
				</div>
			</div>
		</div>

		<div class="content pt-3" th:if="${formmode}=='viewTransaction'">
			<div class="card">
				<div class=" card-header">
					<div class="float-left">
						<h4 style="color: white; font-size: 1.5rem; font-weight: bold;">Transaction
							Detail - View</h4>
					</div>
				</div>
				<div class="card-body">
					<form action="#" method="POST" autocomplete="off" id="ChargeForm"
						style="width: 100%;" th:object="${viewcharge}">
						<div>
							<div class="row formline">
								<div class="col-sm-2" style="text-align: left;">
									<label for="tran_date" style="font-size: 14px;">Transaction
										Date<span style="color: red; font-size: 20px;"> </span>
									</label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="tran_date1" name="tran_date"
										class="form-control form-control-sm"
										th:value="${#dates.format(viewcharge?.tran_date, 'dd-MM-yyyy')}"
										readonly>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-2" style="text-align: left;">
									<label for="message_id" style="font-size: 14px;">Message
										ID <span style="color: red; font-size: 20px;"> </span>
									</label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="sequence_unique_id"
										name="sequence_unique_id" class="form-control form-control-sm"
										onkeyup="this.value = this.value.toUpperCase();handleIn(this)"
										th:value="${viewcharge?.sequence_unique_id}" readonly>
								</div>
							</div>
							<label></label>
							<div class="row formline">
								<div class="col-sm-2" style="text-align: left;">
									<label for="audit_ref" style="font-size: 14px;">Audit
										Reference <span style="color: red; font-size: 20px;"> </span>
									</label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="tran_audit_number"
										name="tran_audit_number"
										onkeyup="this.value = this.value.toUpperCase();handleIn(this)"
										class="form-control form-control-sm"
										th:value="${viewcharge?.tran_audit_number}" readonly>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-2" style="text-align: left;">
									<label for="merchant_bill_number" style="font-size: 14px;">
										Bill Number<span style="color: red; font-size: 20px;">
									</span>
									</label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="merchant_bill_number"
										name="merchant_bill_number"
										class="form-control form-control-sm"
										th:value="${viewcharge?.merchant_bill_number}" readonly>
								</div>
							</div>
							<label></label>
							<div class="row formline">
								<div class="col-sm-2" style="text-align: left;">
									<label for="tran_currency" style="font-size: 14px;">Merchant
										Name <span style="color: red; font-size: 20px;"> </span>
									</label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="cim_account_name"
										name="cim_account_name" class="form-control form-control-sm"
										th:value="${viewcharge?.cim_account_name}" readonly>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-2" style="text-align: left;">
									<label for="reversal_remarks" style="font-size: 14px;">Merchant
										Account Number<span style="color: red; font-size: 20px;">
									</span>
									</label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="cim_account" name="cim_account"
										class="form-control form-control-sm"
										th:value="${viewcharge?.cim_account}" readonly>
								</div>
							</div>
							<label></label>
							<div class="row formline">
								<div class="col-sm-2" style="text-align: left;">
									<label for="tran_currency" style="font-size: 14px;">Customer
										Name<span style="color: red; font-size: 20px;"> </span>
									</label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="ipsx_account_name"
										name="ipsx_account_name" class="form-control form-control-sm"
										th:value="${viewcharge?.ipsx_account_name}" readonly>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-2" style="text-align: left;">
									<label for="reversal_remarks" style="font-size: 14px;">Customer
										Account NUmber<span style="color: red; font-size: 20px;">
									</span>
									</label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="ipsx_account" name="ipsx_account"
										class="form-control form-control-sm"
										th:value="${viewcharge?.ipsx_account}" readonly>
								</div>
							</div>
							<label></label>
							<div class="row formline">
								<div class="col-sm-2" style="text-align: left;">
									<label for="bill_date" style="font-size: 14px;">Bill
										Date <span style="color: red; font-size: 20px;"> </span>
									</label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="bill_date1" name="bill_date"
										class="form-control form-control-sm"
										th:value="${#dates.format(viewcharge?.bill_date, 'dd-MM-yyyy')}"
										readonly>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-2" style="text-align: left;">
									<label for="bill_amount" style="font-size: 14px;">Bill
										Amount <span style="color: red; font-size: 20px;"> </span>
									</label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="bill_amount" name="bill_amount"
										class="form-control form-control-sm"
										th:value="${viewcharge?.bill_amount}" readonly>
								</div>
							</div>
							<label></label>
							<div class="row formline">
								<div class="col-sm-2" style="text-align: left;">
									<label for="tran_currency" style="font-size: 14px;">Currency
										<span style="color: red; font-size: 20px;"> </span>
									</label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="tran_currency" name="tran_currency"
										class="form-control form-control-sm"
										th:value="${viewcharge?.tran_currency}" readonly>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-2" style="text-align: left;">
									<label for="reversal_remarks" style="font-size: 14px;">Remarks<span
										style="color: red; font-size: 20px;"> </span></label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="reversal_remarks"
										name="reversal_remarks" class="form-control form-control-sm"
										th:value="${viewcharge?.reversal_remarks}" readonly>
								</div>
							</div>
							<label></label>
							<div class="row formline">
								<div class="col-sm-2" style="text-align: left;">
									<label for="currency" style="font-size: 14px;">Reversal
										Date <span style="color: red; font-size: 20px;"> </span>
									</label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="reversal_date1" name="reversal_date"
										class="form-control form-control-sm"
										th:value="${#dates.format(viewcharge?.reversal_date, 'dd-MM-yyyy')}"
										readonly>
								</div>
								<div class="col-sm-1"></div>
								<div class="col-sm-2" style="text-align: left;">
									<label for="remarks" style="font-size: 14px;">Reversal
										Amount<span style="color: red; font-size: 20px;"> </span>
									</label>
								</div>
								<div class="col-sm-3">
									<input type="text" id="reversal_amount" name="reversal_amount"
										class="form-control form-control-sm"
										th:value="${viewcharge?.reversal_amount}" readonly>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="card-footer text-center">
					<button type="button" class="btn btn-sm headerbutton mr-2"
						data-dismiss="modal" onclick="home();">Home</button>
					<button type="button" class="btn btn-sm headerbutton"
						data-dismiss="modal" onclick="back();">Back</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Model Box  -->

	<div class="modal fade" id="myModalpopup1" data-backdrop="static"
		data-keyboard="false" style="background: #000000b0;"
		aria-hidden="true">
		<div
			class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<h3 class="text-center p-2 text-white font-weight-bold"
					style="background: #f26223;">BANK OF BARODA </h3>
				<h4 class="modal-body text-center font-weight-bold"
					style="color: black !important; font-size: 19px"></h4>
				<div class="text-center">
					<button type="button" class="btn mb-2"
						style="width: 16%; background: #f26223; font-size: 17px;"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</body>

</html>