<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:fragment="summary">
<!--
    VERSION : 01
	CREATED BY : RIYAS
	DATE : 	
-->
<!--
    VERSION    : 02
	UPDATED BY : UPDATE A BACKEND FUNCTIONALITIES AND LITERALS CHANGE
	DATE       : 30-12-2024
-->
<head>
<title>IPSAdmin</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/jquery-ui/1.12.1/jquery-ui.min.css"
	th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.css}">

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script src="/webjars/popper.js/1.14.7/umd/popper.min.js"
	th:src="@{/webjars/popper.js/1.14.7/umd/popper.min.js}"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script src="/webjars/jquery-ui/1.12.1/jquery-ui.min.js"
	th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
<script src="/webjars/jquery-form/4.2.2/jquery.form.min.js"
	th:src="@{/webjars/jquery-form/4.2.2/jquery.form.min.js}"></script>
<script src="/webjars/jquery-validation/1.19.0/jquery.validate.min.js"
	th:src="@{/webjars/jquery-validation/1.19.0/jquery.validate.min.js}"></script>
<script src="js/bootstrap411.js"></script>

<style>
td {
	background-color: #f8f7ff;
}

.underline {
	text-decoration: underline;
	color: #08a6f1;
	cursor: pointer;
}

.imageround {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border-color: red;
}

.container-manager {
	padding-right: 43px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: 18.3%;
	margin-top: 80px;
}

.dataTables_empty {
	color: #be3232;
}

.dataTables_wrapper .dataTables_filter {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}

.dataTables_filter input {
	color: black;
	background-color: white;
}

.menu-title-header {
	padding: 0.45rem 0.45rem;
	background: #377486;
	color: #fff;
	font-family: "Nunito", calibry;
}

.modal-title {
	text-align: center;
	font-size: 14px;
	color: #332d2d;
	font-family: calibry
}

.autocomplete {
	position: relative;
	display: inline-block;
}

.dataTables_scrollBody {
	overflow: unset !important;
}

#country-list {
	min-width: 60px;
}

.input-group-prepend {
	width: auto;
}

.input-group .form-control {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#phoneNumber_Error {
	font-size: 13px;
	color: red;
	padding-left: 10px;
}

.dataTables_wrapper .dataTables_filter input[type="search"]::placeholder
	{
	color: black;
	font-style: italic;
}

input, select {
	height: 35px !important;
}

label {
	font-size: 18px !important;
}

.actionBtn .dropdown-menu {
	min-width: 5rem !important;
}
</style>
</head>

<script th:inline="javascript">

	function switchForm(formMode) {
		// Hide both forms initially
		document.getElementById("settlementForm").style.display = "none";
		document.getElementById("feesForm").style.display = "none";

		// Show the appropriate form based on formMode
		if (id  === "settlement") {
			document.getElementById("settlementForm").style.display = "block";
		} else if (id === "feeandcharges") {
			document.getElementById("feesForm").style.display = "block";
		}
	}
	
	  function changeColorView(button, formId) {
	        // Reset all buttons to default styles
					const merchandId = document.getElementById('merchandId').value;
					if(merchandId){
	        const buttons = document.querySelectorAll('.tablinks');
	        buttons.forEach((btn) => {
	           	btn.style.backgroundColor = '#f26222';
				btn.style.color = '#FFE0D1';
				btn.style.fontWeight = '100';
			});
			button.style.backgroundColor = '#FFE0D1';
			button.style.color = '#f26222';
			button.style.fontWeight = '700';

			
	        // Hide all forms
	        const forms = ['settlementForm', 'feesForm'];
	        forms.forEach((form) => {
	            document.getElementById(form).style.display = 'none';
	        });

	        // Show the selected form
	        document.getElementById(formId).style.display = 'block';
				}	else{	
					alert('Please select a merchant ID.');
				}

	    }
	  
	  function getMerchantData(selectElement) {
		    const merchantId = selectElement.value;



		    // Check if a valid merchant is selected
		    if (!merchantId) {
		        alert('Please select a merchant ID.');
		        return;
		    }

		    // Send AJAX GET request with merchantId as a query parameter
		    $.ajax({
		        url: './getMerchantName',  // Your backend URL
		        type: 'GET',
		        data: { merchantId: merchantId },  // Send merchantId as query parameter
		        success: function (data) {
		         

		            document.getElementById('merchandName').value = data || 'N/A';  // Update the input field's value
		        },
		        error: function (error) {
		            console.error('Error:', error.responseText);
		            alert('Error fetching merchant data');
		        }
		    });
		}


	/*]]>*/
</script>

</head>

<body>
	<div th:insert="MMenupage :: header"></div>
	<div class="container-manager">
		<div class="card">

			<div class="card-header p-1  d-flex " id="modheadtitle"
				style="font-size: 1.2rem;">
				<b
					style="width: 40%; padding: 0; display: flex; align-items: center;">Payment
					Processing</b>

				<div style="width: 60%;" class="row formline d-flex" id="tabs">

					<div>
						<button class="tablinks btn btn-xs headerbutton" id="smooth1View"
							onclick="changeColorView(this, 'settlementForm')">Settlement
							Transaction</button>
					</div>

					<div style="margin-left: 20px;">
						<button class="tablinks btn btn-xs headerbutton" id="smooth2View"
							onclick="changeColorView(this, 'feesForm')">Fees and
							Charges</button>
					</div>
				</div>
			</div>
			<label></label>
			<div class="row formline mt-1 p-2">



				<div class="col-sm-1">
					<label for="merchandId">Merchant ID</label><span
						style="color: red; font-size: 20px;"> *</span>
				</div>
				<div class="col-sm-2">
					<select id="merchandId" class="form-control form-control-sm"
						name="merchandId" autocomplete="off"
						onchange="getMerchantData(this);">
						<option value="">Select</option>
						<th:block th:each="merchantId : ${merchantIds}">
							<option th:value="${merchantId}" th:text="${merchantId}"></option>
						</th:block>
					</select>
				</div>

				<div class="col-sm-5"></div>

				<div class="col-sm-1">
					<label for="merchandName">Merchant Name</label>
				</div>
				<div class="col-sm-2">
					<input type="text" id="merchandName" class="form-control "
						name="merchandName" style="color: black; font-size: 0.820rem;"
						autocomplete="off" />
				</div>


			</div>



			<div id="settlementForm" class="p-2 " style="display: none;">
				<div class="row formline mt-2">


					<div class="col-sm-1">
						<label for="bank">Bank</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="bank" class="form-control" name="bank"
							style="color: black; font-size: 0.820rem;" autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="accountNumber">Account No.</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="accountNumber" class="form-control"
							name="accountNumber" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="accountType">Account Type</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="accountType" class="form-control"
							name="accountType" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
				</div>

				<div class="row formline mt-2">


					<div class="col-sm-1">
						<label for="frequency">Frequency</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<select name="frequency" id="type" style="width: 100%"
							class="form-control form-control-sm" required>
							<option value="">SELECT</option>
							<option value="MONTHLY">MONTHLY</option>
							<option value="WEEKLY">WEEKLY</option>
						</select>
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="accountBalance">Account Name</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="acct_name" class="form-control"
							name="acct_name" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="lastSettlementDate" title="Last Settlement Date">Last
							Settl. Dt.</label><span style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="lastSettlementDate" class="form-control"
							name="lastSettlementDate"
							style="color: black; font-size: 0.820rem;" autocomplete="off" />
					</div>
				</div>

				<div class="row formline mt-2">


					<div class="col-sm-1">
						<label for="date">Balance Date</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="date" class="form-control" name="date"
							style="color: black; font-size: 0.820rem;" autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="accountBalance">Account Bal.</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="accountBalance" class="form-control"
							name="accountBalance" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="balanceIndicator" title="Balance Indicator">Balance
							Ind.</label><span style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="balanceIndicator" class="form-control"
							name="balanceIndicator"
							style="color: black; font-size: 0.820rem;" autocomplete="off" />
					</div>
				</div>

				<div class="row formline mt-2">


					<div class="col-sm-1">
						<label for="tranDate">Tran Date</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="tranDate" class="form-control"
							name="tranDate" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="tranAmount">Tran Amount</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="tranAmount" class="form-control"
							name="tranAmount" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="tranReference">Tran Reference</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="tranReference" class="form-control"
							name="tranReference" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
				</div>
			</div>


			<div id="feesForm" style="display: none; padding: 1em;">
				<div class="row formline mt-2">


					<div class="col-sm-1">
						<label for="bank">Bank</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="bank" class="form-control" name="bank"
							style="color: black; font-size: 0.820rem;" autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="account-number">Account No.</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="account-number" class="form-control"
							name="accountNumber" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="account-type">Account Type</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="account-type" class="form-control"
							name="accountType" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
				</div>
				<div class="row formline mt-2">
					<div class="col-sm-1">
						<label for="frequency">Frequency</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<select name="frequency" id="type" style="width: 100%"
							class="form-control form-control-sm" required>
							<option value="">SELECT</option>
							<option value="MONTHLY">MONTHLY</option>
							<option value="WEEKLY">WEEKLY</option>
						</select>
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="accountBalance">Account Name</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="acct_name" class="form-control"
							name="acct_name" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="lastSettlementDate" title="Last Settlement Date">Last
							Settl. Dt.</label><span style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="lastSettlementDate" class="form-control"
							name="lastSettlementDate"
							style="color: black; font-size: 0.820rem;" autocomplete="off" />
					</div>
				</div>

				<div class="row formline mt-2">


					<div class="col-sm-1">
						<label for="charge-type">Charge Type</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="charge-type" class="form-control"
							name="chargeType" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="charge-description" title="Charge Description">Charge
							Des.</label><span style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="charge-description" class="form-control"
							name="chargeDescription"
							style="color: black; font-size: 0.820rem;" autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="charge-details">Charge Details</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="charge-details" class="form-control"
							name="chargeDetails" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
				</div>



				<div class="row formline mt-2">


					<div class="col-sm-1">
						<label for="date">Balance Date</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="date" class="form-control" name="date"
							style="color: black; font-size: 0.820rem;" autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>

					<div class="col-sm-1">
						<label for="account-balance">Account Bal.</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="account-balance" class="form-control"
							name="accountBalance" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="balance-indicator">Balance Ind.</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="balance-indicator" class="form-control"
							name="balanceIndicator"
							style="color: black; font-size: 0.820rem;" autocomplete="off" />
					</div>
				</div>

				<div class="row formline mt-2">


					<div class="col-sm-1">
						<label for="tran-date">Tran Date</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="tran-date" class="form-control"
							name="tranDate" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="fee-charge-amount" title="Fee/Charge Amount">Fee/Char
							Amt</label><span style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="fee-charge-amount" class="form-control"
							name="feeChargeAmount" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
					<div class="col-sm-1"></div>
					<div class="col-sm-1">
						<label for="tran-reference">Tran Reference</label><span
							style="color: red; font-size: 20px;"> *</span>
					</div>
					<div class="col-sm-2">
						<input type="text" id="tran-reference" class="form-control"
							name="tranReference" style="color: black; font-size: 0.820rem;"
							autocomplete="off" />
					</div>
				</div>
			</div>

			<label></label>


			<div class="card-footer text-center mt-2">
				<button type="button" class="btn btn-xs  headerbutton" id=""
					onclick="home();">Home</button>
				<button type="button" class="btn btn-xs headerbutton" id=""
					onclick="displayRecords();">Submit</button>
				<button type="button" class="btn btn-xs  headerbutton" id=""
					onclick="back();">Back</button>
			</div>

		</div>
	</div>


	</div>
</body>

</html>